[KCM Locale]
Name=Palestinian Territory
Region=middleeast
Languages=ar
ThousandsSeparator=.
#CurrencySymbol=
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=
#PositiveMonetarySignPosition=
#NegativeMonetarySignPosition=
#DateFormat[??]=
DateFormatShort=%y/%m/%d
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
