[Desktop Entry]
Exec=dcop kded kded loadModule mediamanager
X-DCOP-ServiceType=wait
Type=Service
X-TDE-StartupNotify=false
OnlyShowIn=TDE;
X-TDE-autostart-phase=1
