[Desktop Entry]
Type=Service

Name=KDED Media Manager

Comment=Keep track of media activities and allow to (un)mount (media:/)

X-TDE-ServiceTypes=KDEDModule
X-TDE-ModuleType=Library
X-TDE-Library=mediamanager
X-TDE-FactoryName=mediamanager
X-TDE-Kded-autoload=false
X-TDE-Kded-load-on-demand=false
X-TDE-Kded-phase=1
