[Desktop Entry]
Icon=tdescreensaver
Type=Application
Exec=tdecmshell display
X-DocPath=kcontrol/display/index.html

X-TDE-Library=display
X-TDE-FactoryName=display
X-TDE-ParentApp=kcontrol

Name=Display

Comment=Display Settings

Categories=Qt;TDE;X-TDE-settings-hardware;
