[Desktop Entry]
Exec=tdecmshell displayconfig
Icon=background
Type=Application
X-DocPath=kcontrol/displayconfig/index.html

X-TDE-Library=displayconfig
X-TDE-ParentApp=kcontrol
X-TDE-RootOnly=true
X-TDE-SubstituteUID=true

Name=Monitor & Display

Comment=Configure display

Keywords=monitor;resolution;display;

Categories=Qt;TDE;X-TDE-settings-system;

NoDisplay=false
StartupNotify=true
Terminal=false
