[Desktop Entry]
Name=Qt Assistant
GenericName=Document Browser
Type=Application
X-TDE-StartupNotify=true
Exec=assistant
Icon=assistant
Terminal=false
