[Desktop Entry]
Name=Qt Designer
GenericName=Interface Designer
Type=Application
X-TDE-StartupNotify=true
MimeType=application/x-designer
Exec=designer
Icon=designer
Terminal=false
