[Desktop Entry]
Name=Qt DlgEdit
GenericName=Dialog Editor
Type=Application
X-TDE-StartupNotify=false
MimeType=
Exec=dlgedit
Icon=dlgedit
Path=
Terminal=false
