[Desktop Entry]
Exec=eclipse
Name=Eclipse
GenericName=Eclipse IDE
Type=Application
X-TDE-StartupNotify=true
MimeType=application/x-designer
Icon=eclipse
