[Desktop Entry]
Name=Qt Linguist
GenericName=Translation Tool
Type=Application
X-TDE-StartupNotify=true
MimeType=application/x-linguist
Exec=linguist
Terminal=false
Icon=linguist
