[KCM Locale]
Name=Panama
Region=centralamerica
Languages=es
DecimalSymbol=.
ThousandsSeparator=
CurrencySymbol=B/
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
