[Desktop Entry]
Exec=tdecmshell style
Icon=style
Type=Application
X-DocPath=kcontrol/kcmstyle/index.html


X-TDE-Library=style
X-TDE-FactoryName=style
X-TDE-Init=style
X-TDE-ParentApp=kcontrol

Name=Style

Comment=Allows the manipulation of widget behavior and changing the Style for TDE

Keywords=style;styles;look;widget;icons;toolbars;text;highlight;apps;TDE applications;

Categories=Qt;TDE;X-TDE-settings-looknfeel;
