[KCM Locale]
Author=Corrin Lakeland <lakeland@cs.otago.ac.nz>
Name=New Zealand
Region=oceania
Languages=en_GB,mi
#DecimalSymbol=
#ThousandsSeparator=
CurrencySymbol=NZ$
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=
#PositiveMonetarySignPosition=
#NegativeMonetarySignPosition=
DateFormatShort=%d/%m/%y
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
