[Desktop Entry]
Exec=tdepasswd
Icon=password
Type=Application
Categories=Qt;TDE;Settings;
NoDisplay=true
X-DCOP-ServiceType=Unique

Name=Change Password
