[Desktop Entry]
Type=Plugin
Name=Trash

Comment=Displays the trashcan and allows files to be dropped onto it

Icon=trashcan_empty
X-TDE-Library=trash_panelapplet
