[Desktop Entry]
Type=Plugin
Name=Run Command

Comment=Launch single commands without a terminal window

Icon=application-x-executable
X-TDE-Library=run_panelapplet
X-TDE-UniqueApplet=true
