[Desktop Entry]
Type=Service

Name=KDED Home Base URL Notifier

Comment=Provides change notification for user's home folder ($HOME)

X-TDE-ServiceTypes=KDEDModule
X-TDE-ModuleType=Library
X-TDE-Library=homedirnotify
X-TDE-FactoryName=homedirnotify
X-TDE-Kded-load-on-demand=true
X-TDE-Kded-autoload=true
