[Desktop Entry]
Exec=tdecmshell bell
Icon=bell
Type=Application
X-DocPath=kcontrol/bell/index.html
Categories=Qt;TDE;X-TDE-settings-sound;


X-TDE-Library=bell
X-TDE-Init=bell
X-TDE-ParentApp=kcontrol

Name=System Bell

Comment=System Bell Configuration

Keywords=Bell;Audio;Sound;Volume;Pitch;Duration;
