[Desktop Entry]
Type=Service
Name=LocalDomainFilter
X-TDE-Library=liblocaldomainurifilter
X-TDE-ServiceTypes=KURIFilter/Plugin
X-TDE-InitialPreference=2
