[Desktop Entry]
Name=Blender
GenericName=3D Modeler/Renderer
Type=Application
MimeType=
X-TDE-StartupNotify=false
Exec=blender
Icon=blender
Path=
Terminal=false
