[Desktop Entry]
Name=Electric Eyes
GenericName=Image Viewer
Type=Application
MimeType=image/gif;image/jpeg;image/png;image/tiff;image/x-xbm;image/x-xpm;;
Exec=ee
Terminal=false
Icon=ee
