[Desktop Entry]
Name=GhostView
GenericName=PostScript Viewer
Type=Application
MimeType=application/pdf;application/postscript;image/x-eps
X-TDE-StartupNotify=false
Exec=ghostview
Icon=gv
Path=
Terminal=false
