[Desktop Entry]
Name=Gimp
GenericName=Image Manipulation Program
Type=Application
MimeType=image/gif;image/jpeg;image/x-bmp;image/x-xpm;image/tiff;image/png;image/x-xcf-gimp;image/fax-g3
X-TDE-StartupNotify=false
Exec=gimp %F
Icon=gimp
X-StandardInstall=true
