[Desktop Entry]
Name=GV
GenericName=Postscript Viewer
Type=Application
MimeType=application/pdf;application/postscript;image/x-eps;application/illustrator
X-TDE-StartupNotify=false
Exec=gv
Icon=gv
Path=
Terminal=false
