[Desktop Entry]
Name=Inkscape
GenericName=Vector Drawing
Type=Application
MimeType=
X-TDE-StartupNotify=false
Exec=inkscape
Icon=inkscape
Path=
Terminal=false
