[Desktop Entry]
Name=Sodipodi
GenericName=Vector Drawing
Type=Application
MimeType=
X-TDE-StartupNotify=false
Exec=sodipodi
Icon=sodipodi
Path=
Terminal=false
