[Desktop Entry]
Name=Xfig
GenericName=Drawing Program
Type=Application
MimeType=image/x-xfig
X-TDE-StartupNotify=false
Exec=xfig
Icon=xfig
X-StandardInstall=true
