[Desktop Entry]
Name=X Paint
GenericName=Paint Program
Type=Application
MimeType=
X-TDE-StartupNotify=false
Exec=xpaint
Icon=xpaint
Path=
Terminal=false
