[Desktop Entry]
Type=Service
Name=SearchKeywordsFilter
X-TDE-Library=libkurisearchfilter
X-TDE-ServiceTypes=KURIFilter/Plugin
X-TDE-InitialPreference=4
