[Desktop Entry]
Type=ServiceType
X-TDE-ServiceType=SearchProvider
Comment=Search Engine

[PropertyDef::Keys]
Type=TQStringList

[PropertyDef::Query]
Type=TQString

[PropertyDef::Charset]
Type=TQString
