[Desktop Entry]
Icon=identity
Type=Application
Exec=tdecmshell smartcard
X-DocPath=kcontrol/smartcard.html

X-TDE-Library=smartcard
X-TDE-Init=smartcard
X-TDE-ParentApp=kcontrol

Name=Smartcards

Comment=Configure smartcard support

Keywords=Smartcard;PKCS;SSL;reader;smart;card;

Categories=Qt;TDE;X-TDE-settings-peripherals;
