[Desktop Entry]
Type=Application
Icon=ksplash
Exec=tdecmshell ksplashthememgr
X-DocPath=ksplashml/index.html

X-TDE-ModuleType=Library
X-TDE-Library=ksplashthemes
X-TDE-FactoryName=ksplashthemes
X-TDE-ParentApp=kcontrol

Name=Splash Screen

Comment=Manager for Splash Screen Themes

Keywords=splash screen;splash theme;startup;

Categories=Qt;TDE;X-TDE-settings-looknfeel;
