[Desktop Entry]
Exec=tdecmshell keys
Icon=key_bindings
Type=Application
X-DocPath=kcontrol/keys/index.html


X-TDE-Library=keys
X-TDE-Init=keys
X-TDE-ParentApp=kcontrol

Name=Keyboard Shortcuts

Comment=Configuration of keybindings

Keywords=Keys;Global key bindings;Key scheme;Key bindings;shortcuts;application shortcuts;

Categories=Qt;TDE;X-TDE-settings-accessibility;
