Name=Email Client

Comment=This service allows you to configure your default email client. All TDE applications which need access to an email client application should honor this setting.

configurationType=internal_email
