Name=File Manager

Comment=This service allows you to configure your default file manager. All TDE applications which invoke a file manager application should honor this setting.

configurationType=internal_filemanager
