[Desktop Entry]
Type=Application
Exec=kfmclient openURL %u inode/directory
Icon=konqueror
Terminal=false
MimeType=inode/directory;
X-TDE-InitialPreference=9
NoDisplay=true
Name=Konqueror
Categories=Qt;TDE;System;
