[Desktop Entry]
# This desktop file is the one used by TDEApplication::invokeBrowser
Type=Application
Exec=kfmclient openURL %u
Icon=konqueror
Terminal=false
X-TDE-InitialPreference=9
NoDisplay=true
Name=Konqueror
X-DCOP-ServiceType=None
Categories=Qt;TDE;System;
X-TDE-HasTempFileOption=true
