[Desktop Entry]
Type=Application
NoDisplay=true
Exec=konqueror %U

Name=Konqueror

Comment=TDE File Manager & Web Browser

Icon=konqueror
X-DCOP-ServiceType=multi
X-TDE-StartupNotify=true
X-TDE-HasTempFileOption=true
