[Desktop Entry]
Type=Application
Exec=konqueror --profile filemanagement
X-DocPath=konqueror/index.html
Icon=kfm
X-TDE-SubstituteUID=true

Name=Konqueror

GenericName=File Manager - Super User Mode

Categories=Qt;TDE;X-TDE-System-su;
OnlyShowIn=TDE;
