[KCM Locale]
Author=zh-l10n@linux.org.tw
Name=Taiwan
Region=eastasia
Languages=zh_TW
CurrencySymbol=NT$
DateFormat[zh_TW]=%Y %B %e %A
DateFormat[eo]=%A, la %ea de %B %Y
TimeFormat=%H:%M:%S
