[Desktop Entry]
Icon=usb
Type=Application
X-DocPath=kcontrol/usb/index.html
Exec=tdecmshell kcmusb

X-TDE-Library=usb
X-TDE-ParentApp=kcontrol

Name=USB Devices

Comment=View the USB devices attached to this computer

Keywords=USB;devices;viewer;control;

Categories=Qt;TDE;X-TDE-settings-information;
