[Desktop Entry]
Hidden=true
Type=Plugin
Name=Menu

Comment=Applet embedding standalone menubars

X-TDE-Library=menu_panelapplet
X-TDE-UniqueApplet=true
