[Desktop Entry]
Exec=tdecmshell kcm_tdednssd
Icon=network_local
MimeType=
X-DocPath=kcontrol/dnssd/index.html
StartupNotify=true
Terminal=false
Type=Application
X-DCOP-ServiceType=
X-TDE-HasReadOnlyMode=false
X-TDE-Library=tdednssd
X-TDE-ModuleType=Library
X-TDE-ParentApp=kcontrol
#root parts unused with Avahi
#X-TDE-SubstituteUID=false 
#X-TDE-RootOnly=true

Name=Zeroconf Service Discovery

Comment=Configure service discovery

Categories=Qt;TDE;X-TDE-settings-network;
