[Desktop Entry]
Name=KasBar

Comment=An alternative taskbar panel applet.

Icon=kasbar
X-TDE-Library=kasbar_panelextension
X-TDE-UniqueApplet=true
X-TDE-PanelExt-Positions=Right,Left,Top,Bottom
