[Desktop Entry]
Type=Application
X-DocPath=kcontrol/cache/index.html
Icon=cache
Exec=tdecmshell cache


X-TDE-Library=tdeio
X-TDE-FactoryName=cache
X-TDE-ParentApp=kcontrol

Name=Cache

Comment=Configure web cache settings

Keywords=Cache;History;Browsing History;Ports;Size;

Categories=Qt;TDE;X-TDE-settings-webbrowsing;
