[Desktop Entry]
Type=Application
X-DocPath=kcontrol/smb/index.html
Icon=samba
Exec=tdecmshell lanbrowser


X-TDE-Library=tdeio
X-TDE-FactoryName=lanbrowser

Name=Local Network Browsing

Comment=Setup lisa, reslisa and the ioslaves

Keywords=samba;smb;windows;network;

Categories=Qt;TDE;X-TDE-settings-network;
