[Desktop Entry]
Comment=Configure generic network preferences, like timeout values
Exec=tdecmshell netpref
Icon=network
Keywords=timeout;iopref;netpref;network preferences;ftp;
Name=Connection Preferences
Type=Application
X-DocPath=kcontrol/netpref/index.html
X-TDE-FactoryName=netpref
X-TDE-Library=tdeio

X-TDE-ParentApp=kcontrol

Categories=Qt;TDE;X-TDE-settings-network;
