[Desktop Entry]
Type=Application
X-DocPath=kcontrol/proxy/index.html
Icon=proxy
Exec=tdecmshell proxy


X-TDE-Library=tdeio
X-TDE-FactoryName=proxy
X-TDE-ParentApp=kcontrol

Name=Proxy

Comment=Configure the proxy servers used

Keywords=Proxy;Proxy server;Firewall;Squid;proxy;

Categories=Qt;TDE;X-TDE-settings-network;
