[Desktop Entry]
Type=ServiceType
X-TDE-ServiceType=UserAgentStrings
Comment=UserAgent Strings

[PropertyDef::X-TDE-UA-TAG]
Type=TQString

[PropertyDef::X-TDE-UA-FULL]
Type=TQString

[PropertyDef::X-TDE-UA-NAME]
Type=TQString

[PropertyDef::X-TDE-UA-VERSION]
Type=TQString

[PropertyDef::X-TDE-UA-SYSNAME]
Type=TQString

[PropertyDef::X-TDE-UA-SYSRELEASE]
Type=TQString

[PropertyDef::X-TDE-UA-DYNAMIC-ENTRY]
Type=bool
