[Desktop Entry]
Type=Application
Icon=agent
Exec=tdecmshell useragent
X-DocPath=kcontrol/useragent/index.html


X-TDE-Library=tdeio
X-TDE-FactoryName=useragent
X-TDE-ParentApp=kcontrol

Name=Browser Identification

Comment=Configure the way Konqueror reports itself

Keywords=User Agent;Browser;Internet;WWW;Network;agent;bindings;server;login;

Categories=Qt;TDE;X-TDE-settings-webbrowsing;
