[Desktop Entry]
Exec=tdecmshell nic
Type=Application
X-DocPath=kcontrol/nics/index.html
Icon=network


X-TDE-Library=nic
X-TDE-FactoryName=nic
X-TDE-ParentApp=kcontrol

Name=Network Interfaces

Comment=Network interface information

Categories=Qt;TDE;X-TDE-settings-information;
