[Desktop Entry]
X-TDE-ServiceTypes=text/*,application/x-desktop
Actions=Editassu

[Desktop Action Editassu]
Name=Edit as system administrator
Name[it]=Edita come amministratore di sistema
Name[es]=Editar como administrador del sistema
Name[de]=Als Systemverwalter bearbeiten
Name[fr]=Editer en tant qu'administrateur système
Icon=kwrite
Exec=tdesu "kwrite" "%U"
