[Desktop Entry]
X-TDE-ServiceTypes=text/*,application/x-desktop
Actions=Editassu

[Desktop Action Editassu]
Name=Edit as system administrator
Icon=kwrite
Exec=tdesu "kwrite" "%U"
