[TDE Desktop Program]
Comment=TDE Web Desktop
Executable=kwebdesktop
Command=kwebdesktop %x %y %f http://www.kde.org/
PreviewCommand=kwebdesktop %x %y %f http://www.kde.org/
Refresh=10
