[Desktop Entry]
Exec=tdecmshell arts
Icon=arts
Type=Application
X-DocPath=kcontrol/arts/index.html


X-TDE-Library=arts
X-TDE-Init=arts
X-TDE-ParentApp=kcontrol

Name=Sound System

Comment=Sound System Configuration

Keywords=aRts;Sound Server;artsd;Audio;Sound;startup;network transparency;transparency;priority;duplex;full duplex;response time;Mixer;Volume;KMix;Mix;login;MIDI;synthesizer;music;

Categories=Qt;TDE;X-TDE-settings-sound;
