[Desktop Entry]
Exec=tdecmshell componentchooser
Icon=package_settings
Type=Application
X-TDE-Library=componentchooser
X-TDE-ParentApp=kcontrol
X-DocPath=kcontrol/componentchooser/index.html
Categories=Qt;TDE;X-TDE-settings-components;

Name=Default Applications

Comment=Choose the default components for various services

Keywords=default applications;components;component chooser;resources;e-mail;email client;text editor;instant messenger;terminal emulator;web browser;file manager;URL;hyperlinks;
