[Desktop Entry]
Name=KPager

GenericName=Desktop Pager

Icon=kpager
Type=Application
Exec=kpager
X-DocPath=kpager/index.html
Terminal=false
X-TDE-StartupNotify=false
X-DCOP-ServiceType=Unique
Categories=Qt;TDE;Utility;X-TDE-Utilities-Desktop;
