[Desktop Entry]
Type=Service

Name=Print Management Tool

MimeType=print/manager
X-TDE-ServiceTypes=Browser/View,KParts/ReadOnlyPart
X-TDE-Library=libtdeprint_part
Icon=printmgr
X-TDE-InitialPreference=12
