[Desktop Entry]
Encoding=UTF-8

Name=Show Desktop

Comment=A button that gives quick access to the desktop when pressed

Exec=dcop kdesktop KDesktopIface toggleShowDesktop
Icon=desktop
Type=Application
Categories=Qt;TDE;Utility;
