[Desktop Entry]
Icon=preferences-desktop-screensaver
Type=Application
Exec=tdecmshell xinerama
X-DocPath=kcontrol/multiplemonitors.html

X-TDE-Library=xinerama
X-TDE-Test-Module=true

Name=Multiple Monitors

Comment=Configure TDE for multiple monitors

Keywords=Xinerama;dual head;multihead;monitor;
