[Desktop Entry]
Name=External Taskbar

Comment=External taskbar panel extension

Icon=taskbar
X-TDE-Library=taskbar_panelextension
X-TDE-UniqueApplet=true
X-TDE-PanelExt-Resizeable=true
X-TDE-PanelExt-StdSizes=true
X-TDE-PanelExt-StdSizeDefault=1
X-TDE-PanelExt-CustomSizeMin=24
X-TDE-PanelExt-CustomSizeMax=400
X-TDE-PanelExt-CustomSizeDefault=58
