[KCM Locale]
Name=Indonesia
Region=southeastasia
Languages=id
DecimalSymbol=,
ThousandsSeparator=.
CurrencySymbol=Rp.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
NegativeMonetarySignPosition=1
DateFormatShort=%e/%m/%Y
TimeFormat=%H:%M:%S
