[Desktop Entry]
Type=Application
X-DocPath=kcontrol/desktopbehavior/index.html
Icon=desktop
Exec=tdecmshell desktopbehavior


X-TDE-Library=konq
X-TDE-FactoryName=dbehavior
X-TDE-ParentApp=kcontrol

Name=Behavior

Comment=You can configure how the desktop behaves here

Keywords=konqueror;filemanager;kfm;tips;file tips;separate window;spawn windows;behavior;behaviour;memory usage;Home URL;

Categories=Qt;TDE;X-TDE-settings-desktop;
