[Desktop Entry]
Type=Application
X-DocPath=kcontrol/paths/index.html
Icon=kfm
Exec=tdecmshell desktoppath

X-TDE-Library=konq
X-TDE-FactoryName=dpath
X-TDE-ParentApp=kcontrol

Name=Paths

Comment=Change the location important files are stored

Keywords=konqueror;filemanager;paths;desktop;directories;autostart;

Categories=Qt;TDE;X-TDE-settings-system;
