[Desktop Entry]
Type=Application
X-DocPath=kcontrol/desktop/index.html
Icon=desktop
Exec=tdecmshell desktop

X-TDE-Library=konq
X-TDE-FactoryName=ddesktop
X-TDE-ParentApp=kcontrol

Name=Multiple Desktops

Comment=You can configure how many virtual desktops there are

Keywords=desktop;desktops;number;virtual desktop;

Categories=Qt;TDE;X-TDE-settings-desktop;
