[Desktop Entry]
Type=Application
X-DocPath=kcontrol/filemanager/index.html
Icon=kfm
Exec=tdecmshell filebrowser


X-TDE-Library=konq
X-TDE-FactoryName=browser
X-TDE-ParentApp=kcontrol

Name=File Manager

Comment=You can configure Konqueror's file manager mode here

Keywords=konqueror;filemanager;word wrap;wrap;underline;display;filesize;bytes;font;color;colour;

Categories=Qt;TDE;X-TDE-settings-components;
