[Desktop Entry]
Type=Application
X-DocPath=kcontrol/filemanager/index.html
Icon=kfm
Exec=tdecmshell filebehavior

X-TDE-Library=konq
X-TDE-FactoryName=behavior
X-TDE-ParentApp=kcontrol

Name=Behavior

Comment=Configure how Konqueror behaves as a file manager

Keywords=konqueror;filemanager;kfm;tips;file tips;separate window;spawn windows;behavior;behaviour;memory usage;Home URL;network operations;progress dialog;trash can;delete;confirmation;
