[KCM Locale]
Name=Indonesia (Java)
Region=southeastasia
Languages=jv
DecimalSymbol=,
ThousandsSeparator=.
CurrencySymbol=Rp.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
NegativeMonetarySignPosition=1
DateFormat[jv]=%A, %d %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%e/%m/%Y
TimeFormat=%H:%M:%S
