[Desktop Entry]
Exec=konqueror --preload
Type=Application
Name=Konqueror Preloading During TDE startup
X-TDE-autostart-condition=konquerorrc:Reusing:PreloadOnStartup:false
X-TDE-StartupNotify=false
X-TDE-autostart-phase=2
OnlyShowIn=TDE;
