[Desktop Entry]
Type=Service

Name=KDED Konqueror Preloader Module

Comment=Reduces Konqueror startup time

X-TDE-ServiceTypes=KDEDModule
X-TDE-ModuleType=Library
X-TDE-Library=konqy_preloader
X-TDE-FactoryName=konqy_preloader
X-TDE-Kded-autoload=false
X-TDE-Kded-load-on-demand=true
