[Desktop Entry]
Name=Terminal Sessions

Comment=Menu for starting a terminal emulator with a session or bookmark

Icon=konsole
X-TDE-Library=kickermenu_konsole
X-TDE-AuthorizeAction=shell_access
