[Desktop Entry]
Type=Plugin
Name=Quick Launcher

Comment=Directly access your frequently used applications

Icon=launch
X-TDE-Library=launcher_panelapplet
