[Desktop Entry]
Icon=contents2
X-DOC-Weight=-400
X-TDE-KHelpcenter-Special=tdeioslave

Name=Protocols

Comment=Information about the available protocols

Keywords=Protocol;IO slaves;Slaves;Network;Information;Timeout;
