[Desktop Entry]
Type=Link
URL=
Icon=www
Name=Web SideBar Module
Open=false
X-TDE-KonqSidebarAddModule=konqsidebar_web
X-TDE-KonqSidebarUniversal=true
