#Configuration file for Canada
#the language [fr] refer to the Canadian French settings
#both [en_US] and [en_GB] settings refer to the Canadian English settings
[KCM Locale]
Name=Canada
Region=northamerica
Languages=en_GB,fr,en_US
DecimalSymbol=.
ThousandsSeparator=,
CurrencySymbol=$
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
WeekStartDay=7
PageSize=2
MeasureSystem=0
AddressFormat=%0(%N\n)%0(%CM\n)%0(%S\n)%0(PO BOX %p\n)%0(%L%w%R)%,%z
AddressCountryPosition=BELOW
