[Desktop Entry]
Type=Application
X-DocPath=kcontrol/tdehtml/index.html#kbrowse-plugins
Icon=connect_established
Exec=tdecmshell tdehtml_plugins

X-TDE-ModuleType=Library
X-TDE-Library=konqhtml
X-TDE-FactoryName=tdehtml_plugins
X-TDE-Init-Library=nsplugins
X-TDE-Init=nsplugin
X-TDE-ParentApp=kcontrol

Name=Plugins

Comment=Configure the browser plugins

Keywords=konqueror;kfm;browser;html;web;www;fonts;plugins;

Categories=Qt;TDE;X-TDE-settings-webbrowsing;
