[KCM Locale]
Name=United Kingdom
Region=westeurope
Languages=en_GB,cy
CurrencySymbol=£
NegativeMonetarySignPosition=1
DateFormatShort=%d/%m/%Y
TimeFormat=%H:%M:%S
PageSize=0
MeasureSystem=0
WeekStartDay=7
