[Desktop Entry]
Icon=history
Type=Application
Exec=tdecmshell kcmhistory
X-DocPath=kcontrol/kcmhistory/index.html
X-TDE-ModuleType=Library
X-TDE-Library=history
X-TDE-FactoryName=history

Name=History Sidebar

Comment=Configure the history sidebar

Keywords=history;expire;

Categories=Qt;TDE;X-TDE-settings-webbrowsing;
