[KCM Locale]
Author=i18n-translation@lists.linux.net.cn
Name=China
Region=eastasia
Languages=zh_CN
DecimalSymbol=.
ThousandsSeparator=,
CurrencySymbol=￥
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
#DateFormat[de]=%A %e. %B %Y
DateFormatShort=%Y-%m-%d
TimeFormat=%H:%M:%S
WeekStartDay=1
MeasureSystem=0
PageSize=0
