[Desktop Entry]
Name=Tux
GenericName=Linux Mascot
Type=Application
MimeType=
X-TDE-StartupNotify=false
Exec=xpinguin
Icon=pinguin
Path=
Terminal=false
