[Desktop Entry]
Exec=tdecmshell kcmnotify
Icon=knotify
Type=Application
X-DocPath=kcontrol/kcmnotify/index.html


X-TDE-Library=knotify
X-TDE-ParentApp=kcontrol

Name=System Notifications

Comment=System Notification Configuration

Keywords=System sounds;Audio;Sound;Notify;Alerts;Notification;

Categories=Qt;TDE;X-TDE-settings-sound;
