[KCM Locale]
Name=Switzerland
Region=centraleurope
Languages=de,fr,it
DecimalSymbol=.
ThousandsSeparator=$0 $0
CurrencySymbol=F
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormatShort=%d.%m.%Y
TimeFormat=%H.%M:%S
#WeekStartDay=
PageSize=0
MeasureSystem=0
AddressFormat=%0(%cm\n)%0(%n\n)%0(P.O. Box %p\n)%0(%s\n)%z%w%l
AddressCountryPosition=BELOW
