[Desktop Entry]
Type=Service
Name=Icon View
MimeType=inode/directory
X-TDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-TDE-Library=konq_iconview
X-TDE-BrowserView-AllowAsDefault=true
X-TDE-BrowserView-HideFromMenus=true
X-TDE-BrowserView-Args=IconView
Icon=view_icon
X-TDE-InitialPreference=10
