[Desktop Entry]
Exec=tdecmshell privacy
Terminal=false
Type=Application
X-TDE-FactoryName=privacy
X-TDE-Library=privacy
Categories=Qt;TDE;X-TDE-settings-security;
Icon=trashcan_empty
X-DocPath=kcontrol/privacy/index.html

Name=Privacy
Name[af]=Privaatheid
Name[ar]=الخصوصية
Name[az]=Gizlilik
Name[be]=Прыватнасць
Name[bg]=Анонимност
Name[bn]=প্রাইভেসি
Name[br]=Buhez prevez
Name[bs]=Privatnost
Name[ca]=Privacitat
Name[cs]=Soukromí
Name[csb]=Priwatnosc
Name[cy]=Preifatrwydd
Name[de]=Privatsphäre
Name[el]=Προσωπικό απόρρητο
Name[eo]=Privataj aferoj
Name[es]=Privacidad
Name[et]=Privaatsus
Name[eu]=Pribatutasuna
Name[fa]=محرمانگی
Name[fi]=Yksityisyys
Name[fr]=Confidentialité
Name[ga]=Príobháideachas
Name[gl]=Intimidade
Name[he]=פרטיות
Name[hi]=गोपनीयता
Name[hr]=Privatnost
Name[hu]=Magánjellegű adatok törlése
Name[is]=Einkamál
Name[ja]=プライバシー
Name[ka]=კონფიდენციალურობა
Name[kk]=Қарақшылыққа қарсылық
Name[km]=ភាព​ឯកជន
Name[lt]=Privatumas
Name[lv]=Privātums
Name[mk]=Приватност
Name[ms]=Privasi
Name[mt]=Privatezza
Name[nb]=Personvern
Name[nds]=Privaatrebeet
Name[ne]=गोप्यता
Name[nn]=Personvern
Name[pa]=ਰਹੱਸ
Name[pl]=Prywatność
Name[pt]=Privacidade
Name[pt_BR]=Privacidade
Name[ro]=Intimitate
Name[ru]=Конфиденциальность
Name[rw]=Umwihariko
Name[se]=Iežassuodjaleapmi
Name[sk]=Súkromie
Name[sl]=Zasebnost
Name[sr]=Приватност
Name[sr@Latn]=Privatnost
Name[sv]=Integritet
Name[ta]=தனிமை
Name[te]=ప్రైవసి
Name[th]=ความเป็นส่วนตัว
Name[tr]=Gizlilik
Name[tt]=Xosusílıq
Name[uk]=Конфіденційність
Name[uz]=Shaxsiy maʼlumot
Name[uz@cyrillic]=Шахсий маълумот
Name[vi]=Riêng tư
Name[wa]=Vikereye da vosse
Name[zh_CN]=隐私
Name[zh_TW]=隱私權

Comment=Clean unwanted traces the user leaves on the system
Comment[af]=Voetspore wat deur gebruikers op die stelsel gelaat word skoon maak
Comment[ar]=لتنظيف الآثار غير المرغوب بها التي يتركها المستخدم على
Comment[be]=Выдаляе файлы, што застаюцца пасля працы карыстальніка на кампутары
Comment[bg]=Настройване заличаването на личната информация
Comment[bn]=পর অবশিষ্ট চিহ্নগুলি পরিশোধন কর
Comment[bs]=Čisti neželjene tragove koje korisnik ostavlja na sistemu
Comment[ca]=Netejar les traces no desitjades que va deixant un usuari pel sistema
Comment[cs]=Čištění citlivých údajů
Comment[csb]=Zezwôlô remac niepòrządané szlachë jaczé òstałë pò brëkòwnikù w systemie
Comment[cy]=Glanhau olion nas dymunir y mae'r defnyddiwr yn eu gadael ar y cysawd
Comment[da]=Rense systemet for uønskede spor som brugeren efterlader
Comment[de]=Unerwünschte Spuren von Benutzern auf dem System beseitigen
Comment[el]=Τον καθαρισμό των ιχνών που ο χρήστης αφήνει στο σύστημα
Comment[eo]=Forigas uzantajn spurojn
Comment[es]=Limpiar pistas que el usuario deja en el sistema sin querer
Comment[et]=Kõrvaldada süsteemist kasutaja jäetud jäljed
Comment[eu]=Erabiltzaileek sisteman zehar nahi izan gabe uzten dituzten aztarnak garbitzen dituen
Comment[fa]=پاک کردن ردیابیهای ناخواسته، که کاربر در سیستم به جا می‌گذارد
Comment[fi]=Ei-toivottujen jälkien siivoamiseen järjestelmästä
Comment[fr]=Effacer les traces indésirables qu'un utilisateur laisse sur le système
Comment[fy]=Ûnwenste efterbluiwende sporen fan brûkers wiskje
Comment[gl]=Limpar os rastos non desexados que o usuario deixa no sistema
Comment[he]=למחיקת עקבות לא רצויים שמשתמש משאיר אחריו במערכת
Comment[hi]=अवांछित पदचिह्नों को साफ करने
Comment[hr]=Brisanje neželjenih tragova koje su korisnici ostavili na sustavu
Comment[hu]=A rendszerben létrejött, privát adatok biztonságos törlése
Comment[is]=Hreinsa burt upplýsingar og gögn sem ekki er æskilegt að verði eftir á vélinni
Comment[it]=Cancellare le tracce indesiderate che l'utente lascia nel sistema
Comment[ja]=システムの利用を終えた後の不要な利用形跡を削除
Comment[ka]=წმენდს მომხმარებლის არასასურველ ნაკვალევს სისტემაში
Comment[kk]=Зиянды пайдаланушының қалдырған іздерді өшіретін
Comment[km]=បី​សម្អាដាន ដែល​អ្នក​ប្រើ​បន្សល់​ទុក​លើ​ប្រព័ន្ធ
Comment[lt]=Padedantis išvalyti nepageidaujamus naudotojo veiklos sistemoje pėdsakus
Comment[lv]=Iztīrīt nevēlamas pēdas, ko atstāj lietotājs sistēmā
Comment[mk]=Ги чисти несаканите траги кои ги остава корисникот на системот
Comment[mn]=Cистем дэх хэрэглэгчийн хэрэглэхгүй охрисон хог цэвэрлэгчийн
Comment[mt]=Tnaddaf traċċi li l-user jista' jħalli fuq is-sistema
Comment[nb]=Fjerner uønskede spor som brukeren etterlater i systemet
Comment[nds]=Bruuksporen vun't Systeem wegmaken
Comment[ne]=प्रयोगकर्ताले प्रणालीमा छोडेका नचाहेका पदचिन्ह हटाउन
Comment[nl]=Ongewenste sporen die gebruikers achterlaten kunt wissen
Comment[nn]=Fjernar uønskte spor som brukeren etterlèt seg i systemet
Comment[pa]=ਸਿਸਟਮ 'ਤੇ ਉਪਭੋਗੀ ਦੀ ਨਾ-ਲੋੜੀਦੀ ਪਛਾਣ ਨੂੰ ਸਮਾਪਤ ਕਰਦਾ ਹੈ।
Comment[pl]=Usunąć niepożądane ślady pozostawiane przez użytkownika w systemie
Comment[pt]=Limpar os registos indesejáveis que o utilizador deixa no sistema
Comment[pt_BR]=Limpar traços não-desejados do usuário no sistema
Comment[ro]=Șterge urmele nedorite pe care le lasă un utilizator în sistem
Comment[ru]=Очищающий нежелательные следы, оставленные пользователем в операционной системе
Comment[rw]=Gusiba ibirango bidakenewe ukoresha yasize kuri sisitemu
Comment[se]=Váldá eret luottaid maid geavaheaddji guođđa vuogádahkii
Comment[sk]=Vyčistenie nežiadúcich infomácií, ktoré používateľ necháva v systéme
Comment[sl]=Počisti nezaželene sledi, ki jih uporabnik pusti na sistemu
Comment[sr]=Уклања трагове активности корисника на систему
Comment[sr@Latn]=Uklanja tragove aktivnosti korisnika na sistemu
Comment[sv]=Bort oönskade spår användaren lämnat i systemet
Comment[ta]=பயனீட்டாளர் விட்டுவைத்த தேவை இல்லாத சுவடுகளை நீக்கும்
Comment[tg]=тоза кардани дирагуниҳои номатлуб, ки бо корбарон дар система монда шудаанд
Comment[th]=อาดร่องรอยไม่พึงประสงค์ที่ผู้ใช้ปล่อยเอาไว้บนระบบ
Comment[tr]=Kullanıcının bıraktığı iztenilmeyen izlemeleri temizleyen
Comment[tt]=Qullanuçıdan soñ sistem eçendä qalğan ezlär beterüçe
Comment[uk]=Очищення небажаної інформації залишеної користувачем у системі
Comment[vi]=Xoá các dấu vết mà người sử dụng để lại trên hệ thống
Comment[wa]=Rnetyî les passêyes nén volowes ki l' uzeu leye sol sistinme
Comment[zh_CN]=清除用户留在系统中痕迹的
Comment[zh_TW]=清除使用者不希望留在系統中的痕跡

Keywords=Privacy;privacy;
Keywords[ar]=خصوصية، الخصوصية;
Keywords[az]=Gizlilik;gizlilik;
Keywords[be]=Бяспека;Прыватнасць;Privacy;privacy;
Keywords[bg]=анонимност; лична; информация; тайна; Privacy; privacy;
Keywords[br]=Buhez prevez;buhez prevez;
Keywords[bs]=Privacy;privacy;privatnost;
Keywords[ca]=Privacitat;privacitat;
Keywords[cs]=soukromí;
Keywords[csb]=Priwatnosc;prowatno;swòjno; swòjnosc;priwatny nastôw;
Keywords[cy]=Preifatrwydd; preifatrwydd;
Keywords[de]=privatsphäre;
Keywords[el]=Προσωπικό απόρρητο;προσωπικό απόρρητο;
Keywords[eo]=privataj aferoj;privataj aferoj;
Keywords[es]=Privacidad;privacidad;
Keywords[et]=Privaatsus;privaatsus;
Keywords[eu]=Pribatutasuna;pribatutasuna;
Keywords[fa]=محرمانگی، محرمانگی;
Keywords[fi]=Yksityisyys; yksityisyys;
Keywords[fr]=Confidentialité;confidentialité;
Keywords[fy]=privacy;
Keywords[ga]=Príobháideachas;príobháideachas;
Keywords[gl]=Intimidade;intimidade;
Keywords[he]=פרטיות;פרטיות; Privacy;privacy;
Keywords[hi]=गोपनीय;गोपनीयता;
Keywords[hr]=Privacy;privacy;Privatnost;privatnost;privatno;
Keywords[hu]=adatvédelem;adatbiztonság;
Keywords[is]=Privacy;privacy;einkamál;
Keywords[it]=privacy;riservatezza;
Keywords[ja]=プライバシー;
Keywords[km]=ភាព​ឯកជន;
Keywords[lt]=Privacy;privacy;privatumas;Privatumas;
Keywords[lv]=Privāts;privātums;
Keywords[mk]=Privacy;privacy;Приватност;приватност;
Keywords[mt]=Privacy;privacy;privatezza;
Keywords[nb]=personvern;privat;
Keywords[nds]=Privaatrebeet;
Keywords[ne]=गोप्यता; गोप्यता;
Keywords[nl]=privacy;
Keywords[nn]=personvern;privat;
Keywords[pa]=Privacy;ਰਹੱਸ; ਨਿੱਜੀ;
Keywords[pl]=Prywatność;prywatność;ustawienia prywatności;
Keywords[pt]=privacidade;
Keywords[pt_BR]=Privacidade;privacidade;
Keywords[ro]=intimitate;
Keywords[rw]=Umwihariko;umwihariko;
Keywords[se]=Iežassuodjaleapmi;iežassuodjaleapmi;
Keywords[sk]=Privacy;privacy;súkromie;
Keywords[sl]=Zasebnost;zasebnost;
Keywords[sr]=Privacy;privacy;Приватност;приватност;приватно;
Keywords[sr@Latn]=Privacy;privacy;Privatnost;privatnost;privatno;
Keywords[sv]=Integritet;privatliv;
Keywords[ta]=தனிப்பட்ட;தனிப்பட்ட;
Keywords[te]=ప్రైవసి;
Keywords[th]=ความเป็นส่วนตัว;
Keywords[tr]=gizlilik;
Keywords[uk]=Конфіденційність;
Keywords[uz]=Shaxsiy maʼlumot;shaxsiy maʼlumot;
Keywords[uz@cyrillic]=Шахсий маълумот;шахсий маълумот;
Keywords[vi]=Riêng tư;riêng tư;
Keywords[wa]=privé;privêye vikereye;vikerêye da vosse;
Keywords[zh_CN]=Privacy;privacy;隐私;
Keywords[zh_TW]=Privacy;privacy;隱私權;
