[Desktop Entry]
Exec=tdecmshell privacy
Terminal=false
Type=Application
X-TDE-FactoryName=privacy
X-TDE-Library=privacy
Categories=Qt;TDE;X-TDE-settings-security;
Icon=trashcan_empty
X-DocPath=kcontrol/privacy/index.html

Name=Privacy

Comment=Clean unwanted traces the user leaves on the system

Keywords=Privacy;privacy;
