[Desktop Entry]
MountPoint=
Dev=
ReadOnly=0
Type=FSDevice
Icon=media-optical-cdwriter-mounted
UnmountIcon=media-optical-cdwriter
Actions=Eject;
X-TDE-Priority=TopLevel

[Desktop Action Eject]
Name=Eject
Exec=tdeeject %v
