[Desktop Entry]
MountPoint=
Dev=
ReadOnly=0
Type=FSDevice
Icon=cd-rw-mounted
UnmountIcon=cd-rw-unmounted
Actions=Eject;
X-TDE-Priority=TopLevel

[Desktop Action Eject]
Name=Eject
Exec=tdeeject %v
