[Desktop Entry]
MountPoint=
Dev=
ReadOnly=false
Type=FSDevice
Icon=media-optical-dvd-mounted
UnmountIcon=media-optical-dvd-unmounted
Actions=Eject;
X-TDE-Priority=TopLevel

[Desktop Action Eject]
Name=Eject
Exec=tdeeject %v
