[Desktop Action Format]
Exec=kfloppy %v
Name=Format

[Desktop Entry]
Actions=Format;
MountPoint=
Dev=
ReadOnly=false
Type=FSDevice
Icon=media-floppy-3_5-mounted
UnmountIcon=media-floppy-3_5-unmounted
X-TDE-Priority=TopLevel
