[Desktop Entry]
MountPoint=
Dev=
ReadOnly=false
Type=FSDevice
Icon=media-floppy-zip-mounted
UnmountIcon=media-floppy-zip-unmounted
Actions=Eject;
X-TDE-Priority=TopLevel

[Desktop Action Eject]
Name=Eject
Exec=tdeeject %v
