[Desktop Entry]
Name=TDEPrintFax

GenericName=Fax Utility

Type=Application
Exec=tdeprintfax -caption "%c" %i %m %u
Icon=tdeprintfax
Terminal=false
X-DCOP-ServiceType=Multi
Categories=Qt;TDE;Utility;X-TDE-Utilities-Peripherals;
