[Desktop Entry]
Exec=tdecmshell iccconfig
Icon=background
Type=Application
X-DocPath=kcontrol/iccconfig/index.html
MimeType=

X-TDE-Library=iccconfig
X-TDE-ParentApp=kcontrol
X-TDE-RootOnly=true
X-TDE-SubstituteUID=true

Categories=Qt;TDE;X-TDE-settings-hardware;
Comment=Configure display ICC profile
Comment[en_US]=Configure display ICC profile
Comment[de]=ICC-Profile der Anzeige einrichten
Comment[fr]=Configurer les profils de couleurs ICC
Comment[it]=Configurazione del profilo ICC del display
Comment[ru]=Конфигурация профиля ICC экрана
Comment[uk]=Конфігурація профілю ICC екрану

GenericName=
GenericName[en_US]=

Keywords=ICC;display;color;profile;
Keywords[de]=ICC;Anzeige;Farbe;Profil;
Keywords[it]=ICC;Display;Colori;Profilo;

Name=ICC Color Profile
Name[en_US]=ICC Color Profile
Name[de]=ICC-Farbprofile
Name[fr]=Profils de couleurs ICC
Name[it]=Profilo dei colori ICC
Name[ru]=ICC Профиль цвета
Name[uk]=ICC Профіль кольору

NoDisplay=false
