[Desktop Entry]
Exec=tdecmshell iccconfig
Icon=background
Type=Application
X-DocPath=kcontrol/iccconfig/index.html
MimeType=

X-TDE-Library=iccconfig
X-TDE-ParentApp=kcontrol
X-TDE-RootOnly=true
X-TDE-SubstituteUID=true

Categories=Qt;TDE;X-TDE-settings-hardware;
Comment=Configure display ICC color profile

Keywords=ICC;display;color;profile;

Name=Color Profile

NoDisplay=false
