[Desktop Entry]
Name=UADescription (IE 5.5 on Win 98)
Type=Service
X-TDE-ServiceTypes=UserAgentStrings
X-TDE-UA-TAG=IE
X-TDE-UA-FULL=Mozilla/4.0 (compatible; MSIE 5.5; Windows 98)
X-TDE-UA-NAME=Internet Explorer
X-TDE-UA-VERSION=5.5
X-TDE-UA-SYSNAME=Windows
X-TDE-UA-SYSRELEASE=98
