[Desktop Entry]
Name=UADescription (IE 6.0 on current)
Type=Service
X-TDE-ServiceTypes=UserAgentStrings
X-TDE-UA-TAG=IE
X-TDE-UA-FULL=Mozilla/4.0 (compatible; MSIE 6.0; appPlatform; appSysName appMachineType) Konqueror/3.4 (TDEHTML, like Gecko)
X-TDE-UA-NAME=Internet Explorer
X-TDE-UA-VERSION=6.0
X-TDE-UA-DYNAMIC-ENTRY=1
