[Desktop Entry]
Name=UADescription (Lynx 2.8.3)
Type=Service
X-TDE-ServiceTypes=UserAgentStrings
X-TDE-UA-TAG=MISC
X-TDE-UA-FULL=Lynx/2.8.3dev.6 libwww-FM/2.14
X-TDE-UA-NAME=Lynx
X-TDE-UA-VERSION=2.8.3dev.6
