[Desktop Entry]
Name=UADescription (Netscape 7.1 on current)
Type=Service
X-TDE-ServiceTypes=UserAgentStrings
X-TDE-UA-TAG=NN
X-TDE-UA-FULL=Mozilla/5.0 (appPlatform; U; appSysName appMachineType; en-CA; rv:1.4) Gecko/20030624 Netscape/7.1 (ax)
X-TDE-UA-NAME=Netscape
X-TDE-UA-VERSION=7.1
X-TDE-UA-DYNAMIC-ENTRY=1
