[Desktop Entry]
Name=UADescription (w3m 0.1.9)
Type=Service
X-TDE-ServiceTypes=UserAgentStrings
X-TDE-UA-TAG=MISC
X-TDE-UA-FULL=w3m/0.1.9
X-TDE-UA-NAME=w3m
X-TDE-UA-VERSION=0.1.9
