[Desktop Entry]
Name=UADescription (Wget 1.11.4)
Type=Service
X-TDE-ServiceTypes=UserAgentStrings
X-TDE-UA-TAG=MISC
X-TDE-UA-FULL=Wget/1.11.4
X-TDE-UA-NAME=Wget
X-TDE-UA-VERSION=1.11.4
