[Desktop Entry]
Type=Plugin
Icon=kpager
Name=Desktop Preview & Pager

Comment=Preview, manage and switch to multiple virtual desktops

X-TDE-Library=minipager_panelapplet
X-TDE-UniqueApplet=false
