[Desktop Entry]
Type=Service
X-TDE-PluginInfo-Author=Alexander Neundorf
X-TDE-PluginInfo-Email=neundorf@kde.org
X-TDE-PluginInfo-Name=kshellcmdplugin
X-TDE-PluginInfo-Version=3.4
X-TDE-PluginInfo-Website=
X-TDE-PluginInfo-Category=Tools
X-TDE-PluginInfo-Depends=
X-TDE-PluginInfo-License=GPL
X-TDE-PluginInfo-EnabledByDefault=true
X-TDE-ParentApp=konqueror
Icon=system-run

Name=Run Command

Comment=A plugin which enables commands to be executed within folders
