[Desktop Entry]
Icon=kmenu
Type=Application
X-DocPath=kicker/taskbar-settings.html
Exec=tdecmshell kcmtaskbar

X-TDE-Library=taskbar
X-TDE-FactoryName=taskbar
X-TDE-ParentApp=kcontrol

Name=Taskbar

Comment=Configure the selected taskbar

Keywords=kicker;panel;kpanel;taskbar;startbar;launchbar;windows;

Categories=Qt;TDE;X-TDE-settings-desktop;
