[Desktop Entry]
Icon=filetypes
Type=Application
Exec=tdecmshell filetypes
X-DocPath=kcontrol/filetypes/index.html
Categories=Qt;TDE;X-TDE-settings-components;


X-TDE-Library=filetypes
X-TDE-ParentApp=kcontrol

Name=File Associations

Comment=Configure file associations

Keywords=Filetypes;File Associations;Mime Types;File Patterns;Files;Pattern;
