[Desktop Entry]
Name=TDEFontView
Exec=tdefontview %i %u
Icon=font-x-generic
X-TDE-StartupNotify=true
Type=Application
MimeType=application/x-font-ttf;application/x-font-type1;application/x-font-otf;application/x-font-ttc;application/x-font-pcf;application/x-font-bdf;application/vnd.tde.fontspackage
GenericName=Font Viewer
Terminal=false
X-TDE-InitialPreference=1
Categories=Qt;TDE;Graphics;
X-DocPath=tdefontview/index.html
