[Desktop Entry]
Name=KTip

GenericName=Useful Tips

Exec=ktip
Icon=ktip
Type=Application
Terminal=false
X-TDE-StartupNotify=true
X-TDE-autostart-phase=2
X-TDE-autostart-condition=ktiprc:TipOfDay:RunOnStart:true
X-DCOP-ServiceType=Unique
Categories=Qt;TDE;Utility;X-TDE-Utilities-Desktop;
OnlyShowIn=TDE;
