[Desktop Entry]
Type=Service
Name=KDED Favicon Module
Comment=Shortcut icon support
X-TDE-ServiceTypes=KDEDModule
X-TDE-ModuleType=Library
X-TDE-Library=favicons
X-TDE-FactoryName=favicons
X-TDE-Kded-autoload=false
X-TDE-Kded-load-on-demand=true
