[Desktop Entry]
Type=MimeType
MimeType=application/vnd.tde.fontspackage
Icon=font-x-generic
Patterns=*.fonts.tar.gz
Comment=Fonts Package

[Property::X-TDE-LocalProtocol]
Type=TQString
Value=tar
