[Desktop Entry]
Comment=System Fonts Folder
Icon=folder_red
Type=MimeType
MimeType=fonts/system-folder
Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
