[Desktop Entry]
X-TDE-Library=libtdehtmlkttsdplugin
X-TDE-PluginInfo-Author=Olaf Schmidt
X-TDE-PluginInfo-Email=ojschmidt@kde.org
X-TDE-PluginInfo-Name=tdehtmlkttsdplugin
X-TDE-PluginInfo-Version=3.4
X-TDE-PluginInfo-Category=Tools
X-TDE-PluginInfo-License=GPL
X-TDE-PluginInfo-EnabledByDefault=true
X-TDE-ParentApp=konqueror

Name=Text-to-Speech

Comment=A plugin which enables texts to be read aloud on the web with KTTS

Icon=kttsd
