[Desktop Entry]
Type=Application
X-DocPath=kcontrol/ebrowsing/index.html
Icon=enhanced_browsing
Exec=tdecmshell ebrowsing


X-TDE-Library=kurifilt
X-TDE-FactoryName=kurifilt
X-TDE-ParentApp=kcontrol

Name=Web Shortcuts

Comment=Configure enhanced browsing

Keywords=Enhanced Browsing;Browsing;WWW;Internet;Internet Keywords;Internet Filters;Network;Search Engines;Shortcuts;

Categories=Qt;TDE;X-TDE-settings-webbrowsing;
