[Desktop Entry]
Type=Service
Name=KSplashLegacy
Comment=KSplash Plugin
X-TDE-ServiceTypes=KSplash/Plugin
X-TDE-Library=ksplashdefault
X-KSplash-Default=true
X-KSplash-PluginName=Default
X-KSplash-ObjectName=ThemeLegacy
