[Desktop Entry]
Type=Service

Name=Cursor Files

X-TDE-ServiceTypes=ThumbCreator
MimeTypes=image/x-xcursor
X-TDE-Library=cursorthumbnail
CacheThumbnail=false
