[Desktop Entry]
Type=ServiceType
X-TDE-ServiceType=ThumbCreator

Comment=Thumbnail Handler

[PropertyDef::MimeTypes]
Type=TQStringList

[PropertyDef::CacheThumbnail]
Type=bool

[PropertyDef::IgnoreMaximumSize]
Type=bool
