[Desktop Entry]
Exec=tdecmshell cdinfo
Icon=kcmdevices
Type=Application
X-DocPath=kcontrol/cdinfo/index.html


X-TDE-Library=info
X-TDE-FactoryName=cdinfo
X-TDE-ParentApp=kcontrol

Name=CD-ROM Information

Comment=CD/DVD Drive Capabilites

Keywords=CD-ROM Information;CD-ROM;CD;CD Drive;Writer Capabilities;

Categories=Qt;TDE;X-TDE-settings-information;
