[Desktop Entry]
Exec=tdecmshell devices
Icon=kcmdevices
Type=Application
X-DocPath=kcontrol/devices/index.html
Categories=Qt;TDE;X-TDE-settings-information;


X-TDE-Library=info
X-TDE-FactoryName=devices
X-TDE-ParentApp=kcontrol

Name=Devices

Comment=Attached devices information

Keywords=dev;Devices;System Information;Information;
