[Desktop Entry]
Exec=tdecmshell dma
Icon=kcmmemory
Type=Application
X-DocPath=kcontrol/dma/index.html
Categories=Qt;TDE;X-TDE-settings-information;


X-TDE-Library=info
X-TDE-FactoryName=dma
X-TDE-ParentApp=kcontrol

Name=DMA-Channels

Comment=DMA information

Keywords=dma;DMA-Channels;System Information;
