[Desktop Entry]
Exec=tdecmshell interrupts
Icon=kcmmemory
Type=Application
X-DocPath=kcontrol/interrupts/index.html
Categories=Qt;TDE;X-TDE-settings-information;


X-TDE-Library=info
X-TDE-FactoryName=irq
X-TDE-ParentApp=kcontrol

Name=Interrupts

Comment=Interrupt information

Keywords=Interrupts;IRQ;System Information;
