[Desktop Entry]
Exec=tdecmshell ioports
Icon=kcmmemory
Type=Application
X-DocPath=kcontrol/ioports/index.html
Categories=Qt;TDE;X-TDE-settings-information;


X-TDE-Library=info
X-TDE-FactoryName=ioports
X-TDE-ParentApp=kcontrol

Name=IO-Ports

Comment=IO-port information

Keywords=IO;I/O;IO-Ports;I/O-Ports;Ports;IO-Range;I/O-Range;System Information;
