[Desktop Entry]
Exec=tdecmshell partitions
Icon=kcmpartitions
Type=Application
X-DocPath=kcontrol/partitions/index.html


X-TDE-Library=info
X-TDE-FactoryName=partitions
X-TDE-ParentApp=kcontrol


Name=Partitions

Comment=Partition information

Keywords=Partitions;Harddrive;HD;System Information;

Categories=Qt;TDE;X-TDE-settings-information;
