[Desktop Entry]
Exec=tdecmshell pci
Icon=kcmpci
Type=Application
X-DocPath=kcontrol/pci/index.html


X-TDE-Library=info
X-TDE-FactoryName=pci
X-TDE-ParentApp=kcontrol

Name=PCI

Comment=PCI information

Keywords=PCI;PCI-Devices;PCI-Bus;System Information;

Categories=Qt;TDE;X-TDE-settings-information;
