[Desktop Entry]
Exec=tdecmshell processor
Icon=kcmprocessor
Type=Application
X-DocPath=kcontrol/processor/index.html


X-TDE-Library=info
X-TDE-FactoryName=cpu
X-TDE-ParentApp=kcontrol

Name=Processor

Comment=Processor information

Keywords=Processor;CPU;FPU;MHz;System Information;

Categories=Qt;TDE;X-TDE-settings-information;
