[Desktop Entry]
Exec=tdecmshell scsi
Icon=kcmscsi
Type=Application
X-DocPath=kcontrol/scsi/index.html


X-TDE-Library=info
X-TDE-FactoryName=scsi
X-TDE-ParentApp=kcontrol

Name=SCSI

Comment=SCSI information

Keywords=SCSI;SCSI-Bus;System Information;

Categories=Qt;TDE;X-TDE-settings-information;
