[Desktop Entry]
Exec=tdecmshell xserver
Icon=kcmx
Type=Application
X-DocPath=kcontrol/xserver/index.html


X-TDE-Library=info
X-TDE-FactoryName=xserver
X-TDE-ParentApp=kcontrol

Name=X-Server

Comment=X-Server information

Keywords=X;X-Server;XServer;XFree86;Display;VideoCard;System Information;

Categories=Qt;TDE;X-TDE-settings-information;
