[Desktop Entry]
Name=Laptop
X-TDE-ModuleType=Library
X-TDE-Library=laptop
X-TDE-FactoryName=battery
Exec=tdecmshell laptop
Icon=laptop_battery
Type=Application
