[Desktop Entry]
Icon=email
Type=Application
Exec=tdecmshell kcm_useraccount
X-DocPath=kcontrol/email/index.html
X-TDE-ModuleType=Library
X-TDE-Library=useraccount
X-TDE-ParentApp=kcontrol

Name=Email
Comment=Configure your identity, email addresses, mail servers, etc.

Keywords=EMail;Mail;E-Mail;Address;Email server;IMAP;POP3;Local mailbox;mailbox;User Information;Reply Address;Server information;User Name;Passwords;Host;Current Profile;Profile;Organization;Incoming Host;Outgoing Host;Email Client;
NoDisplay=true
