[Desktop Entry]
Name=XML RPC Daemon
X-TDE-ModuleType=Library
X-TDE-Library=kded
X-TDE-Factoryname=kded
Exec=tdecmshell kcmkded
Icon=kded
Type=Application
