[Desktop Entry]
Name=File Manager
X-TDE-ModuleType=Library
X-TDE-Library=konq
X-TDE-FactoryName=browser
Type=Application
Icon=kfm
Exec=tdecmshell filebrowser
