[Desktop Entry]
Name=Konqueror Browser
Type=Application
Icon=font-x-generic
Exec=tdecmshell tdehtml_fonts
X-TDE-ModuleType=Library
X-TDE-Library=konqhtml
X-TDE-FactoryName=tdehtml_fonts
