[Desktop Entry]
Type=Application
Exec=tdecmshell kcm_useraccount
Icon=password
X-DocPath=kcontrol/useraccount/index.html
NoDisplay=true
X-TDE-ModuleType=Library
X-TDE-Library=useraccount
X-TDE-ParentApp=kcontrol

Name=Passwords

Comment=Configure password settings

Keywords=Passwords;tdesu;Echo characters;Remember passwords;Timeout;
