[Desktop Entry]
Name=Laptop
X-TDE-ModuleType=Library
X-TDE-Library=laptop
X-TDE-FactoryName=power
Exec=tdecmshell laptop
NoDisplay=true
Icon=laptop_battery
Type=Application
