[Desktop Entry]
Type=Application
Exec=tdecmshell kcm_useraccount
Icon=tdmconfig
X-DocPath=kcontrol/useraccount/index.html

X-TDE-ModuleType=Library
X-TDE-Library=useraccount
X-TDE-FactoryName=userinfo
X-TDE-HasReadOnlyMode=false
X-TDE-ParentApp=kcontrol

Name=User Account
Comment=Change your account information
Keywords=Passwords;Password;Change Password;Icon;face;tdm;User Name;Name;Account;
