[Desktop Entry]
Name=Virtual Desktops
Type=Application
Icon=desktop
Exec=tdecmshell desktop
X-TDE-ModuleType=Library
X-TDE-Library=konq
X-TDE-FactoryName=ddesktop
