[Desktop Entry]
Type=MimeType
MimeType=media/audiocd
Icon=media-optical-cdaudio-unmounted

Comment=Audio CD

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
