[Desktop Entry]
Type=MimeType
MimeType=media/blankbluray
Comment=Blank BLURAY
Comment[af]=Leë BLURAY
Comment[ar]=قرص رقمي مرئي فارغ
Comment[be]=Пусты BLURAY
Comment[bg]=Празен BLURAY диск
Comment[bn]=ফাঁকা ডিভিডি
Comment[br]=Goullonderiñ un BLURAY
Comment[bs]=Prazan BLURAY
Comment[ca]=BLURAY en blanc
Comment[cs]=Prázdné BLURAY
Comment[csb]=Czëstô BLURAY
Comment[da]=Blank bluray
Comment[de]=Leere BLURAY
Comment[el]=Κενό BLURAY
Comment[eo]=Malplena BLURAY
Comment[es]=BLURAY vacío
Comment[et]=Tühi BLURAY
Comment[eu]=BLURAY hutsik
Comment[fa]=BLURAY خام
Comment[fi]=Tyhjä BLURAY-levy
Comment[fr]=BLURAY vierge
Comment[fy]=Blanke Dûbelskiif
Comment[ga]=BLURAY Folamh
Comment[gl]=BLURAY valeiro
Comment[he]=תקליטור BLURAY ריק
Comment[hi]=खाली डीवीडी
Comment[hr]=Prazan BLURAY
Comment[hu]=Üres BLURAY
Comment[is]=Tómur BLURAY
Comment[it]=BLURAY vergine
Comment[ja]=空の BLURAY
Comment[ka]=სუფთა BLURAY
Comment[kk]=Таза BLURAY
Comment[km]=ឌីវីឌី​ទទេ
Comment[lt]=Tuščias BLURAY
Comment[lv]=Tukšs BLURAY
Comment[mk]=Празно BLURAY
Comment[ms]=BLURAY Kosong
Comment[nb]=Tom BLURAY
Comment[nds]=Leddige BLURAY
Comment[ne]=खाली डी भी डी
Comment[nl]=Lege bluray
Comment[nn]=Tom BLURAY
Comment[pa]=ਖਾਲੀ BLURAY
Comment[pl]=Pusta płyta BLURAY
Comment[pt]=BLURAY vazio
Comment[pt_BR]=BLURAY virgem
Comment[ro]=BLURAY gol
Comment[ru]=Чистый BLURAY
Comment[rw]=BLURAY Itanditseho
Comment[se]=Guorus BLURAY
Comment[sk]=Čisté BLURAY
Comment[sl]=Prazen BLURAY
Comment[sr]=Празан BLURAY
Comment[sr@Latn]=Prazan BLURAY
Comment[sv]=Tom bluray
Comment[ta]=காலி டிவிடி
Comment[te]=ఖాళి డివిడి
Comment[th]=ดีวีดีเปล่า
Comment[tr]=Boş BLURAY
Comment[tt]=Buş BLURAY
Comment[uk]=Чистий BLURAY
Comment[uz]=Boʻsh BLURAY
Comment[uz@cyrillic]=Бўш BLURAY
Comment[vi]=BLURAY trống
Comment[wa]=Plake lazer BLURAY sins rén dzo
Comment[zh_CN]=空 BLURAY
Comment[zh_TW]=空白 BLURAY
Icon=media-optical-dvd-unmounted
