[Desktop Entry]
Type=MimeType
MimeType=media/blurayvideo
Comment=BLURAY Video Disk
Comment[af]=BLURAY Video skyf
Comment[ar]=قرص رقمي مرئي للمرئيات
Comment[be]=Відэадыск BLURAY
Comment[bg]=Видео BLURAY диск
Comment[bn]=ডিভিডি ভিডিও ডিস্ক
Comment[br]=Pladenn BLURAY Video
Comment[bs]=BLURAY video disk
Comment[ca]=Vídeo disc BLURAY
Comment[cs]=BLURAY video
Comment[csb]=Disk BLURAY Video
Comment[da]=Dvd video-disk
Comment[de]=BLURAY Video-Disk
Comment[el]=Δίσκος BLURAY (βίντεο)
Comment[eo]=BLURAYa videodisko
Comment[es]=Disco de video BLURAY
Comment[et]=BLURAY videoplaat
Comment[eu]=BLURAY bideo diska
Comment[fa]=دیسک ویدیویی BLURAY
Comment[fi]=BLURAY-videolevy
Comment[fr]=BLURAY vidéo
Comment[fy]=Dûbelskiif Fideoskiif
Comment[ga]=Físdiosca BLURAY
Comment[gl]=BLURAY de vídeo
Comment[he]=תקליטור וידאו של BLURAY
Comment[hi]=डीवीडी वीडियो डिस्क
Comment[hr]=BLURAY video disk
Comment[hu]=BLURAY-videolemez
Comment[is]=BLURAY vídeódiskur
Comment[it]=Disco video BLURAY
Comment[ja]=BLURAY ビデオディスク
Comment[ka]=ვიდეო BLURAY დისკი
Comment[kk]=BLURAY бейне дискі
Comment[km]=ថាស​វីដេអូ ឌីវីឌី
Comment[lt]=BLURAY video diskas
Comment[lv]=BLURAY Video Disks
Comment[mk]=BLURAY Видеодиск
Comment[ms]=Cakera Video BLURAY
Comment[nb]=BLURAY-videoplate
Comment[nds]=BLURAY-Videodisk
Comment[ne]=डी भी डी भिडियो डिस्क
Comment[nl]=BLURAY Videodisk
Comment[nn]=BLURAY-videoplate
Comment[pa]=BLURAY ਵੀਡਿਓ ਡਿਸਕ
Comment[pl]=Płyta BLURAY Video
Comment[pt]=Disco BLURAY de Vídeo
Comment[pt_BR]=BLURAY de vídeo
Comment[ro]=Disc video BLURAY
Comment[ru]=BLURAY с видео
Comment[rw]=Disiki Videwo BLURAY 
Comment[se]=BLURAY-videoskearru
Comment[sk]=BLURAY Video disk
Comment[sl]=BLURAY Video disk
Comment[sr]=BLURAY видео диск
Comment[sr@Latn]=BLURAY video disk
Comment[sv]=Dvd-videoskiva
Comment[ta]=டிவிடி படக்காட்சி வட்டு
Comment[te]=డివిడి విడియొ డిస్క్
Comment[th]=แผ่นดีวีดีภาพยนตร์
Comment[tr]=BLURAY Video
Comment[uk]=Відео диск BLURAY
Comment[uz]=BLURAY video-disk
Comment[uz@cyrillic]=BLURAY видео-диск
Comment[vi]=Đĩa Video BLURAY
Comment[wa]=Plake videyo BLURAY
Comment[zh_CN]=BLURAY 影碟
Comment[zh_TW]=BLURAY 視訊光碟
Icon=media-optical-dvd-unmounted

X-TDE-IsAlso=inode/directory
