[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/bluray_unmounted_encrypted
Icon=media-optical-dvd-encrypted

Comment=Unmounted Encrypted BLURAY

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
