[Desktop Entry]
Icon=media-optical-dvd
Type=MimeType
MimeType=media/bluray_unmounted
Comment=Unmounted BLURAY
Comment[af]=Ontkoppelde BLURAY
Comment[ar]=BLURAY غير محمّل
Comment[az]=Ayrılmış BLURAY
Comment[be]=Адмацаваны BLURAY
Comment[bg]=Демонтиран BLURAY диск
Comment[bn]=আনমাউন্ট করা ডিভিডি
Comment[br]=BLURAY-ROM divountet
Comment[bs]=Demontiran BLURAY
Comment[ca]=BLURAY desmuntat
Comment[cs]=Odpojené BLURAY
Comment[csb]=Òdmòntowóny nëk BLURAY
Comment[cy]=BLURAY wedi'i ddadosod
Comment[da]=Afmonteret bluray
Comment[de]=Nicht eingebundene BLURAY
Comment[el]=Αποπροσαρτημένο BLURAY
Comment[eo]=Demetita BLURAY
Comment[es]=BLURAY desmontado
Comment[et]=Lahutatud BLURAY
Comment[eu]=BLURAY desmuntatua
Comment[fa]=BLURAY پیاده‌شده
Comment[fi]=Irrotettu BLURAY-levy
Comment[fr]=BLURAY-ROM non monté(s)
Comment[fy]=Ofkeppele Dûbelskiif
Comment[ga]=BLURAY neamhfheistithe
Comment[gl]=BLURAY non Montado
Comment[he]=כונן BLURAY מנותק
Comment[hi]=अनमाउन्टेड डीवीडी
Comment[hr]=Nepristupljeni BLURAY
Comment[hu]=Leválasztott BLURAY
Comment[is]=Aftengt BLURAY
Comment[it]=BLURAY smontato
Comment[ja]=マウントされていない BLURAY
Comment[ka]=დემონტირებული BLURAY
Comment[kk]=Тіркеуден шығарған BLURAY
Comment[km]=ឌីវីឌី​ដែល​មិន​បាន​រៀបចំ
Comment[lo]=ຫັງກາລີ
Comment[lt]=Išmontuotas BLURAY
Comment[lv]=Nomontēts BLURAY
Comment[mk]=Одмонтиран BLURAY
Comment[mn]=Салгаатай BLURAY
Comment[ms]=BLURAY Nyahlekap
Comment[mt]=BLURAY mhux immontat
Comment[nb]=Avmontert BLURAY
Comment[nds]=Afhangt BLURAY
Comment[ne]=अनमाउन्ट गरिएको डी भी डी
Comment[nl]=Afgekoppelde bluray-romschijf
Comment[nn]=Avmontert BLURAY
Comment[pa]=ਅਨਮਾਊਟ ਕੀਤੀ BLURAY
Comment[pl]=Odmontowany BLURAY
Comment[pt]=BLURAY desmontado
Comment[pt_BR]=BLURAY Desmontado
Comment[ro]=BLURAY nemontat
Comment[ru]=Отмонтированный BLURAY
Comment[rw]=BLURAY Yakuwemo
Comment[se]=Gálgajuvvon BLURAY
Comment[sk]=Nepripojené BLURAY
Comment[sl]=Odklopljen BLURAY
Comment[sr]=Демонтиран BLURAY
Comment[sr@Latn]=Demontiran BLURAY
Comment[sv]=Avmonterad bluray
Comment[ta]=இறக்கப்பட்ட சிடிராம்
Comment[tg]=Ғайри монтажшудаи BLURAY
Comment[th]=ดีวีดีที่ไม่ได้เม้านท์
Comment[tr]=Ayrılmış BLURAY
Comment[tt]=Totaşmağan BLURAY
Comment[uk]=Демонтований BLURAY
Comment[uz]=Ulanmagan BLURAY
Comment[uz@cyrillic]=Уланмаган BLURAY
Comment[vi]=BLURAY đã gỡ ra
Comment[wa]=Plake lazer BLURAY dismontêye
Comment[zh_CN]=未挂载的 BLURAY
Comment[zh_TW]=未掛載的 BLURAY-ROM
Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
