[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/bluray_unmounted_decrypted
Icon=media-optical-dvd-decrypted

Comment=Unmounted Decrypted BLURAY

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
