[Desktop Entry]
Icon=media-optical-dvd-mounted
Type=MimeType
MimeType=media/bluray_mounted
Comment=Mounted BLURAY
Comment[af]=Gekoppelde BLURAY
Comment[ar]=BLURAY محمّل
Comment[az]=Bağlanmış BLURAY
Comment[be]=Прымацаваны BLURAY
Comment[bg]=Монтиран BLURAY диск
Comment[bn]=মাউন্ট করা ডিভিডি
Comment[br]=BLURAY marc'het
Comment[bs]=Montiran BLURAY
Comment[ca]=BLURAY muntat
Comment[cs]=Připojené BLURAY
Comment[csb]=Zamòntowóny nëk BLURAY
Comment[cy]=BLURAY wedi'i osod
Comment[da]=Monteret bluray
Comment[de]=Eingebundene BLURAY
Comment[el]=Προσαρτημένο BLURAY
Comment[eo]=Surmetita BLURAY
Comment[es]=BLURAY montado
Comment[et]=Ühendatud BLURAY
Comment[eu]=BLURAY muntatua
Comment[fa]=BLURAY سوارشده
Comment[fi]=Liitetty BLURAY-levy
Comment[fr]=BLURAY-ROM monté(s)
Comment[fy]=Oankeppele Dûbelskiif
Comment[ga]=BLURAY feistithe
Comment[gl]=BLURAY Montado
Comment[he]=כונן BLURAY מחובר
Comment[hi]=माउन्टेड डीवीडी
Comment[hr]=Pristupljeni BLURAY
Comment[hu]=Csatlakoztatott BLURAY
Comment[is]=Tengt BLURAY
Comment[it]=BLURAY montato
Comment[ja]=マウントされた BLURAY
Comment[ka]=მონტირებული BLURAY
Comment[kk]=Тіркеген BLURAY
Comment[km]=ឌីវីឌី​ដែល​បាន​រៀបចំ
Comment[lo]=ຈໍພາບ
Comment[lt]=Sumontuotas BLURAY
Comment[lv]=Piemontēts BLURAY
Comment[mk]=Монтиран BLURAY
Comment[mn]=Залгагдсан BLURAY
Comment[ms]=BLURAY Terlekap
Comment[mt]=BLURAY immontat
Comment[nb]=Montert BLURAY
Comment[nds]=Inhangt BLURAY
Comment[ne]=माउन्ट गरिएको डी भी डी
Comment[nl]=Aangekoppelde bluray-romschijf
Comment[nn]=Montert BLURAY
Comment[pa]=ਮਾਊਟ ਕੀਤੀ BLURAY
Comment[pl]=Zamontowany BLURAY
Comment[pt]=BLURAY montado
Comment[pt_BR]=BLURAY Montado
Comment[ro]=BLURAY montat
Comment[ru]=Смонтированный BLURAY
Comment[rw]=BLURAY Yashyizwemo
Comment[se]=Čatnon BLURAY
Comment[sk]=Pripojené BLURAY
Comment[sl]=Priklopljen BLURAY
Comment[sr]=Монтиран BLURAY
Comment[sr@Latn]=Montiran BLURAY
Comment[sv]=Monterad bluray
Comment[ta]=ஏற்றப்பட்ட சிடிராம்
Comment[tg]=Монтажшудаи BLURAY
Comment[th]=ดีวีดีที่เม้านท์แล้ว
Comment[tr]=Bağlı BLURAY
Comment[tt]=Totaşqan BLURAY
Comment[uk]=Змонтований BLURAY
Comment[uz]=Ulangan BLURAY
Comment[uz@cyrillic]=Уланган BLURAY
Comment[vi]=BLURAY đã kết nối
Comment[wa]=Plake lazer BLURAY montêye
Comment[zh_CN]=挂载的 BLURAY
Comment[zh_TW]=已掛載的 BLURAY-ROM
Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
