[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/bluray_encrypted_unlocked
Icon=media-optical-dvd-unlocked

Comment=Encrypted Unlocked BLURAY

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
