[Desktop Entry]
Type=MimeType
MimeType=media/camera_mounted
Icon=camera_mount

Comment=Mounted Camera

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
