[Desktop Entry]
Type=MimeType
MimeType=media/camera_unmounted
Icon=camera_unmount

Comment=Unmounted Camera

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
