[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/cd-r_unmounted_decrypted
Icon=media-optical-cdwriter-decrypted

Comment=Unmounted Decrypted CD-R

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
