[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/cd-r_encrypted_locked
Icon=cd-r-locked

Comment=Encrypted Locked CD-R

Patterns=

X-TDE-AutoEmbed=true
