[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/cd-rw_unmounted_encrypted
Icon=media-optical-cdwriter-encrypted

Comment=Unmounted Encrypted CD-RW

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
