[Desktop Entry]
Type=MimeType
MimeType=media/cd-r_unmounted
Icon=cd-r-unmounted

Comment=Unmounted CD-R

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
