[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/cd-r_mounted_decrypted
Icon=media-optical-cdwriter-decrypted-mounted

Comment=Mounted Decrypted CD-R

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
