[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/cd-rw_encrypted_unlocked
Icon=cd-rw-unlocked

Comment=Encrypted Unlocked CD-RW

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
