[Desktop Entry]
Encoding=UTF-8
Icon=media-optical-cdwriter-unlocked
Type=MimeType
MimeType=media/cd-rw_encrypted_unlocked
Comment=Encrypted Unlocked CD-RW
Comment[de]=Verschlüsselte entsperrte CD-RW
Comment[it]=CD-RW criptato sprotetto
Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
