[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/cd-rw_encrypted_locked
Icon=cd-rw-locked

Comment=Encrypted Locked CD-RW

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
