[Desktop Entry]
Type=MimeType
MimeType=media/cd-rw_mounted
Icon=media-optical-cdwriter-mounted

Comment=Mounted CD-RW

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
