[Desktop Entry]
Type=MimeType
MimeType=media/cd-rw_unmounted
Icon=cd-rw-unmounted

Comment=Unmounted CD-RW

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
