[Desktop Entry]
Type=MimeType
MimeType=media/cd-r_unmounted
Icon=media-optical-cdwriter

Comment=Unmounted CD-R

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
