[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/cd-r_encrypted_unlocked
Icon=cd-r-unlocked

Comment=Encrypted Unlocked CD-R

Patterns=

X-TDE-AutoEmbed=true
