[Desktop Entry]
Type=MimeType
MimeType=media/cd-r_mounted
Icon=cd-r-mounted

Comment=Mounted CD-R

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
