[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/cdrom_encrypted_unlocked
Icon=media-optical-cdrom-unlocked

Comment=Encrypted Unlocked CD-ROM

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
