[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/cdrom_mounted_decrypted
Icon=media-optical-cdrom-decrypted-mounted

Comment=Mounted Decrypted CD-ROM

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
