[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/cdrom_unmounted_decrypted
Icon=media-optical-cdrom-decrypted

Comment=Unmounted Decrypted CD-ROM

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
