[Desktop Entry]
Type=MimeType
MimeType=media/cdrom_unmounted
Icon=media-optical-cdrom-unmounted

Comment=Unmounted CD-ROM

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
