[Desktop Entry]
Type=MimeType
MimeType=media/dvd_unmounted
Icon=media-optical-dvd

Comment=Unmounted DVD

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
