[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/dvd_encrypted_locked
Icon=media-optical-dvd-locked

Comment=Encrypted Locked DVD

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
