[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/dvd_unmounted_decrypted
Icon=media-optical-dvd-decrypted

Comment=Unmounted Decrypted DVD

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
