[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/dvd_mounted_decrypted
Icon=media-optical-dvd-decrypted-mounted

Comment=Mounted Decrypted DVD

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
