[Desktop Entry]
Type=MimeType
MimeType=media/dvd_mounted
Icon=media-optical-dvd-mounted

Comment=Mounted DVD

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
