[Desktop Entry]
Type=MimeType
MimeType=media/floppy5_mounted
Icon=media-floppy-5_14-mounted

Comment=Mounted 5¼" Floppy

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
