[Desktop Entry]
Type=MimeType
MimeType=media/floppy_unmounted
Icon=media-floppy-3_5

Comment=Unmounted Floppy

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
