[Desktop Entry]
Type=MimeType
MimeType=media/floppy_mounted
Icon=media-floppy-3_5-mounted

Comment=Mounted Floppy

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
