[Desktop Entry]
Type=MimeType
MimeType=media/floppy5_unmounted
Icon=media-floppy-5_14-unmounted

Comment=Unmounted 5¼" Floppy

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
