[Desktop Entry]
Type=MimeType
MimeType=media/hdd_unmounted
Icon=drive-harddisk

Comment=Unmounted Hard Disk Volume

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
