[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/hdd_unmounted_decrypted
Icon=drive-harddisk-decrypted

Comment=Unmounted Decrypted Hard Disk Volume

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
