[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/hdd_encrypted_locked
Icon=drive-harddisk-locked

Comment=Encrypted Locked Hard Disk Volume

Patterns=

X-TDE-AutoEmbed=true
