[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/hdd_unmounted_encrypted
Icon=drive-harddisk-encrypted

Comment=Unmounted Encrypted Hard Disk Volume

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
