[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/hdd_encrypted_unlocked
Icon=drive-harddisk-unlocked

Comment=Encrypted Unlocked Hard Disk Volume

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
