[Desktop Entry]
Type=MimeType
MimeType=media/builtin-mydocuments
Icon=folder_wordprocessing

Comment=My Documents

Patterns=My_Documents

X-TDE-AutoEmbed=false
