[Desktop Entry]
Type=MimeType
MimeType=media/builtin-mynetworkplaces
Icon=network

Comment=My Network Places

Patterns=My_Network_Places

X-TDE-AutoEmbed=false
