[Desktop Entry]
Type=MimeType
MimeType=media/nfs_mounted
Icon=nfs_mount

Comment=Mounted NFS Share

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
