[Desktop Entry]
Type=MimeType
MimeType=media/nfs_unmounted
Icon=nfs-unmounted

Comment=Unmounted NFS Share

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
