[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/removable_unmounted_encrypted
Icon=media-flash-usb-encrypted

Comment=Unmounted Encrypted Removable Medium

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
