[Desktop Entry]
Type=MimeType
MimeType=media/removable_unmounted
Icon=media-flash-usb

Comment=Unmounted Removable Medium

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
