[Desktop Entry]
Type=MimeType
MimeType=media/removable_mounted
Icon=media-flash-usb-mounted

Comment=Mounted Removable Medium

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
