[Desktop Entry]
Encoding=UTF-8
Icon=media-flash-usb-locked
Type=MimeType
MimeType=media/removable_encrypted_locked
Comment=Encrypted Locked Removable Medium
Comment[de]=Verschlüsselte gesperrte Wechsellaufwerk
Comment[it]=Disco rimovibile criptato protetto
Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
