[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/removable_encrypted_locked
Icon=media-flash-usb-locked

Comment=Encrypted Locked Removable Medium

Patterns=

X-TDE-AutoEmbed=true
