[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/removable_encrypted_unlocked
Icon=media-flash-usb-unlocked

Comment=Encrypted Unlocked Removable Medium

Patterns=

X-TDE-AutoEmbed=true
