[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=media/removable_mounted_decrypted
Icon=media-flash-usb-decrypted-mounted

Comment=Mounted Decrypted Removable Medium

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
