[Desktop Entry]
Type=MimeType
MimeType=media/smb_mounted
Icon=nfs_mount

Comment=Mounted Samba (Microsoft Network) Share

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
