[Desktop Entry]
Type=MimeType
MimeType=media/smb_unmounted
Icon=nfs_unmount

Comment=Unmounted Samba (Microsoft Network) Share

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
