[Desktop Entry]
Type=MimeType
MimeType=media/builtin-trash
Icon=trashcan_full
EmptyIcon=trashcan_empty

Comment=Trash

Patterns=Trash

X-TDE-AutoEmbed=false
