[Desktop Entry]
Type=MimeType
MimeType=media/zip_unmounted
Icon=media-floppy-zip-unmounted

Comment=Unmounted Zip Disk

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
