[Desktop Entry]
Type=MimeType
MimeType=media/zip_mounted
Icon=media-floppy-zip-mounted

Comment=Mounted Zip Disk

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
