[KCM Locale]
Name=North Korea
Region=eastasia
Languages=ko
CurrencySymbol=
DateFormat[ko]=%Y %B %e %A
DateFormat[eo]=%A, la %ea de %B %Y
#DateFormatShort=
TimeFormat=%H:%M:%S
