[Desktop Entry]
Type=Service
Icon=view_sidetree
Name=Navigation Panel
MimeType=inode/directory
X-TDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-TDE-Library=konq_sidebar
X-TDE-BrowserView-AllowAsDefault=false
X-TDE-BrowserView-HideFromMenus=true
X-TDE-BrowserView-PassiveMode=true
X-TDE-BrowserView-Toggable=true
X-TDE-BrowserView-ToggableView-Orientation=vertical
X-TDE-BrowserView-HierarchicalView=true
X-TDE-BrowserView-FollowActive=true
X-TDE-BrowserView-LinkedView=false
X-TDE-BrowserView-Built-Into=konqueror
