[Desktop Entry]
Exec=kfind %f
Icon=kfind
X-DocPath=kfind/index.html
Path=
Type=Application
Terminal=false
X-TDE-StartupNotify=true
Categories=Qt;TDE;Find;

Name=Find Files
