[Desktop Entry]
Icon=launch
Type=Application
X-DocPath=kcontrol/kcmlaunch/index.html
Exec=tdecmshell kcmlaunch


X-TDE-Library=launch
X-TDE-FactoryName=launch
X-TDE-ParentApp=kcontrol

Name=Launch Feedback

Comment=Choose application-launch feedback style

Keywords=application;start;launch;busy;cursor;feedback;mouse;pointer;rotating;spinning;disk;startup;program;report;

Categories=Qt;TDE;X-TDE-settings-looknfeel;
