[Desktop Entry]
Icon=randr
Type=Application
Exec=tdecmshell randr
X-TDE-Library=randr
#X-TDE-Init=randr
X-TDE-Test-Module=true

Name=Size & Orientation

Comment=Resize and Rotate your display

Keywords=resize;rotate;display;color;depth;size;horizontal;vertical;
