[Desktop Entry]
Name=TDERandRTray

GenericName=Screen Resize & Rotate

Comment=Resize and rotate X screens.

Exec=tderandrtray
Icon=randr
X-TDE-autostart-after=panel
X-TDE-StartupNotify=false
X-TDE-UniqueApplet=true
X-TDE-autostart-condition=tderandrtrayrc:General:Autostart:true
Categories=System;Applet;
