[Desktop Entry]
Name=TDERandRTray

GenericName=Screen Resize & Rotate

Comment=Resize and rotate X screens.

Exec=tderandrtray
Icon=randr
Type=Application
OnlyShowIn=TDE;
Categories=Qt;TDE;System;
X-DocPath=tderandrtray/index.html
