[Desktop Entry]
Exec=tdecmshell kcmkded
Icon=services
Type=Application
X-DocPath=kcontrol/kcmkded/index.html
X-TDE-Library=kded
X-TDE-Factoryname=kded
X-TDE-ParentApp=kcontrol
Categories=Qt;TDE;X-TDE-settings-components;

Name=Service Manager

Comment=System Services Configuration

Keywords=KDED;Daemon;Services;
