[KCM Locale]
Name=Poland
Region=centraleurope
Languages=pl
DecimalSymbol=,
ThousandsSeparator=$0 $0
CurrencySymbol=zł
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormatShort=%d/%m/%Y
TimeFormat=%H:%M:%S
NounDeclension=true
DateMonthNamePossessive=true
