[Desktop Entry]
Exec=kcontrol -caption "%c" %i %m
Icon=kcontrol
Type=Application
X-DocPath=kcontrol/index.html
X-TDE-StartupNotify=true

Name=Trinity Control Center

X-DCOP-ServiceType=Unique
Categories=Qt;TDE;Settings;
NotShowIn=TDE;
