[Desktop Entry]
Type=Service
Name=Accessibility Tool
Exec=kaccess
X-DCOP-ServiceType=None
X-TDE-ParentApp=kcontrol
X-DocPath=kcontrol/kcmaccess/index.html
