[Desktop Entry]
Name=Wine
GenericName=Run Windows Programs
Type=Application
MimeType=application/x-msdos-program
X-TDE-StartupNotify=false
Exec=wine %f
Icon=wine
