[Desktop Entry]
Name=X osview
GenericName=System Monitor
Type=Application
MimeType=
X-TDE-StartupNotify=false
Exec=xosview
Icon=text-x-log
Path=
Terminal=false
