[KCM Locale]
Name=Latvia
Region=northeurope
Languages=lv
DecimalSymbol=,
ThousandsSeparator=.
CurrencySymbol=Ls
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=2
NegativeMonetarySignPosition=2
DateFormatShort=%d.%m.%Y
TimeFormat=%H:%M:%S
