[Desktop Entry]
Exec=tdecmshell htmlsearch
Icon=help_index
Type=Application
X-DocPath=kcontrol/help-index.html

X-TDE-ModuleType=Library
X-TDE-Library=htmlsearch
X-TDE-FactoryName=htmlsearch
X-TDE-ControlModuleType=User

Name=Index

Comment=Index generation

Keywords=Help;HTML;Search;Index;htdig;htsearch;htmerge;Scope;Language;

Categories=Qt;TDE;X-TDE-settings-system;
