[Desktop Entry]
Type=Application
X-DocPath=kcontrol/tdehtml/index.html#userinterface
Icon=view_choose
Exec=tdecmshell tdehtml_userinterface


X-TDE-Library=konqhtml
X-TDE-FactoryName=tdehtml_userinterface

Name=User Interface

Comment=Configure user interface options

Name[pl]=Interfejs użytkownika
Comment[pl]=Konfiguruj opcje interfejsu użytkownika

Keywords=konqueror;kfm;user;interface;tabbed;browsing;

Categories=Qt;TDE;X-TDE-settings-webbrowsing;
