[Desktop Entry]
Type=Application
X-DocPath=kcontrol/tdehtml/index.html#tdehtml-adblock
Icon=filter
Exec=tdecmshell tdehtml_filter

X-TDE-Library=konqhtml
X-TDE-FactoryName=tdehtml_filter

Name=AdBlocK Filters

Comment=Configure Konqueror AdBlocK filters

Categories=Qt;TDE;X-TDE-settings-webbrowsing;
