[Desktop Entry]
Icon=kcmkwm
Type=Application
Exec=tdecmshell twinactions
X-DocPath=kcontrol/windowbehavior/index.html#action-actions

X-TDE-ModuleType=Library
X-TDE-Library=twinoptions
X-TDE-FactoryName=twinactions

Name=Actions

Comment=Configure keyboard and mouse settings

Keywords=shade;maximise;maximize;minimize;minimise;lower;operations menu;titlebar;resize;
