[Desktop Entry]
Icon=kcmkwm
Type=Application
Exec=tdecmshell twinoptions
X-DocPath=kcontrol/windowbehavior/index.html

X-TDE-ModuleType=Library
X-TDE-Library=twinoptions
X-TDE-FactoryName=twinoptions

Name=Window Behavior

Comment=Configure the window behavior

Keywords=focus;placement;window behavior;animation;raise;auto raise;windows;frame;titlebar;doubleclick;

Categories=Qt;TDE;X-TDE-settings-desktop;
