[Desktop Entry]
Icon=kcmkwm
Type=Application
Exec=tdecmshell twinadvanced
X-DocPath=kcontrol/windowbehavior/index.html#action-advanced

X-TDE-ModuleType=Library
X-TDE-Library=twinoptions
X-TDE-FactoryName=twinadvanced

Name=Advanced

Comment=Configure advanced window management features

Keywords=shading;border;hover;active borders;
