[Desktop Entry]
Icon=kcmkwm
Type=Application
Exec=tdecmshell twintranslucency
X-DocPath=kompmgr/index.html

X-TDE-ModuleType=Library
X-TDE-Library=twinoptions
X-TDE-FactoryName=twintranslucency

Name=Translucency

Comment=Configure window translucency and shadow management

Keywords=translucency;transparence;shadows;
