[Desktop Entry]
Icon=kcmkwm
Type=Application
Exec=tdecmshell twinfocus
X-DocPath=kcontrol/windowbehavior/index.html#action-focus

X-TDE-ModuleType=Library
X-TDE-Library=twinoptions
X-TDE-FactoryName=twinfocus

Name=Focus

Comment=Configure the window focus policy

Keywords=focus;placement;auto raise;raise;click raise;keyboard;CDE;alt-tab;all desktop;
