[Desktop Entry]
Icon=kcmkwm
Type=Application
Exec=tdecmshell twinmoving
X-DocPath=kcontrol/windowbehavior/index.html#action-moving

X-TDE-ModuleType=Library
X-TDE-Library=twinoptions
X-TDE-FactoryName=twinmoving

Name=Moving

Comment=Configure the way that windows are moved

Keywords=moving;smart;cascade;maximize;maximise;snap zone;snap;border;
