[Desktop Entry]
Type=Service
X-TDE-PluginInfo-Author=Thiago Macieira
X-TDE-PluginInfo-Email=thiago.macieira@kdemail.net
X-TDE-PluginInfo-Name=kremoteencodingplugin
X-TDE-PluginInfo-Version=3.4
X-TDE-PluginInfo-Category=Tools
X-TDE-PluginInfo-License=LGPL
X-TDE-PluginInfo-EnabledByDefault=true
X-TDE-ParentApp=konqueror
Icon=charset

Name=Remote Encoding

Comment=A Plugin for setting the encoding of remote hosts (FTP, SSH, etc.)
