[Desktop Entry]
Type=Service

Name=Media Notifier Daemon

Comment=A media plugged notifier

X-TDE-ServiceTypes=KDEDModule
X-TDE-ModuleType=Library
X-TDE-Library=medianotifier
X-TDE-FactoryName=medianotifier
X-TDE-Kded-autoload=true
X-TDE-Kded-load-on-demand=false
