[Desktop Entry]
Type=Link
URL=
Icon=bookmark

Name=Bookmarks

Comment=This is the list of your bookmarks, for a faster access

Open=false
X-TDE-TreeModule=Bookmarks
X-TDE-SearchableTreeModule=true
X-TDE-KonqSidebarModule=konqsidebar_tree
