[Desktop Entry]
Type=Link
URL=
Icon=history

Name=History

Comment=This is the history of the URLs you have recently visited. You can sort them in many ways.

Open=false
X-TDE-TreeModule=History
X-TDE-SearchableTreeModule=true
X-TDE-TreeModule-Lib=konq_sidebartree_history
X-TDE-Default-URL=
