[Desktop Entry]
Type=Link
URL=system:/
Icon=computer

Name=System

Comment=This folder allows you to access common places on your computer

Open=true
X-TDE-TreeModule=Directory
X-TDE-KonqSidebarModule=konqsidebar_tree
