[Desktop Entry]
Type=Link
URL=
Icon=folder

Name=Folder

Open=false
X-TDE-KonqSidebarAddParam=
X-TDE-KonqSidebarAddModule=konqsidebar_tree
X-TDE-KonqSidebarUniversal=true
