[Desktop Entry]
Type=MimeType
MimeType=inode/system_directory
Icon=kfm

Comment=System Folder

Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
