[Desktop Entry]
Type=Link
URL=http://mirror.ppa.trinitydesktop.org/trinity
Icon=ftp
Name=TDE Official FTP
Name[af]=TDE Amptelike Ftp
Name[ar]=ميفاق نقل الملفات الرسمي لِــ TDE
Name[az]=TDE FTP vericisi
Name[be]=Афіцыйны FTP TDE
Name[bg]=Официален FTP сървър на TDE
Name[bn]=মূল কে.ডি.ই. এফ.টি.পি.
Name[br]=FTP ofisiel TDE
Name[bs]=TDE službeni FTP
Name[ca]=FTP oficial del TDE
Name[cs]=Oficiální FTP projektu TDE
Name[csb]=Òficjalnô serwera FTP dlô TDE
Name[cy]=FTP Swyddogol TDE
Name[da]=TDE's officielle FTP
Name[de]=FTP-Bereich von TDE
Name[el]=Επίσημο FTP του TDE
Name[eo]=Oficiala FTP-arĥivo de TDE
Name[es]=FTP oficial de TDE
Name[et]=TDE ametlik FTP sait
Name[eu]=TDEren FTP ofiziala
Name[fa]=قاپ رسمی TDE
Name[fi]=TDE:n virallinen FTP
Name[fr]=Site FTP officiel de TDE
Name[fy]=TDE's Offisjele FTP
Name[ga]=FTP Oifigiúil TDE
Name[gl]=FTP Oficial de TDE
Name[he]=ה־FTP הרשמי של TDE
Name[hi]=केडीई आधिकारिक एफटीपी
Name[hr]=TDE službeni FTP
Name[hu]=Hivatalos TDE FTP
Name[id]=FTP TDE Resmi
Name[is]=FTP gagnabanki TDE
Name[it]=FTP ufficiale di TDE
Name[ja]=TDE 公式 FTP
Name[ka]=TDE-ს ძირითადი FTP სერვერი
Name[kk]=Негізгі TDE FTP сервері
Name[km]=FTP ផ្លូវការ​របស់ TDE
Name[ko]=TDE 공식 FTP
Name[lo]=ໄຊ້์ FTP ຢ່າງເປັນທາງການຂອງ TDE
Name[lt]=TDE oficialus FTP
Name[lv]=TDE Oficiālais FTP
Name[mk]=Официјален FTP на TDE
Name[mn]=КДЭ-н FTP- хаяг
Name[ms]=FTP Rasmi TDE
Name[mt]=FTP Uffiċjali tal-TDE
Name[nb]=TDEs offisielle FTP
Name[nds]=Dat offizielle TDE-FTP
Name[ne]=TDE आधिकारिक FTP
Name[nl]=TDE's Officiële FTP
Name[nn]=Offisiell TDE-FTP
Name[nso]=FTP ya Semolao ya TDE
Name[oc]=FTP oficial dèu TDE
Name[pa]=TDE ਮੂਲ FTP
Name[pl]=Oficjalny serwer FTP dla TDE
Name[pt]=FTP Oficial do TDE
Name[pt_BR]=FTP oficial do TDE
Name[ro]=Site FTP TDE oficial
Name[ru]=Основной FTP-сервер TDE
Name[rw]=TDE FTP yemewe 
Name[se]=Almmolaš TDE-FTP
Name[sk]=Oficiálne FTP TDE
Name[sl]=Uradni FTP za TDE
Name[sr]=Званични TDE-ов FTP
Name[sr@Latn]=Zvanični TDE-ov FTP
Name[sv]=TDE:s officiella FTP-server
Name[ta]=TDE அலுவலக FTP
Name[te]=కెడిఈ అధికారిక ఎఫ్ టి పి
Name[tg]=TDE расмии FTP
Name[th]=ไซต์ FTP ทางการของ TDE
Name[tr]=TDE FTP sunucusu
Name[tt]=TDE'nıñ Räsmi FTP
Name[uk]=Офіціальний FTP TDE
Name[uz]=Rasmiy TDE FTP
Name[uz@cyrillic]=Расмий TDE FTP
Name[ven]=FTP ya ofishiala ya TDE
Name[vi]=FTP chính thức của TDE
Name[wa]=Site FTP oficir di TDE
Name[xh]=TDE Osemthethweni FTP
Name[zh_CN]=TDE 官方 FTP
Name[zh_TW]=TDE 官方 FTP 站
Name[zu]=I-FTP esemthethweni ye-TDE
Open=false
X-TDE-TreeModule=Directory
X-TDE-KonqSidebarModule=konqsidebar_tree
