[Desktop Entry]
Type=Link
URL=http://mirror.ppa.trinitydesktop.org/trinity
Icon=ftp
Name=TDE Official FTP
Open=false
X-TDE-TreeModule=Directory
X-TDE-KonqSidebarModule=konqsidebar_tree
