[Desktop Entry]
Type=Service

Name=Trash File Info

X-TDE-ServiceTypes=KFilePlugin
X-TDE-Library=tdefile_trash
X-TDE-Protocol=system
PreferredGroups=General
PreferredItems=OriginalPath,DateOfDeletion
