[Desktop Entry]
Exec=kcmkonsole
Icon=konsole
Type=Application

X-TDE-ControlModuleType=User
X-TDE-HideFromPanel=true

Name=Console

GenericName=All Konsole Settings

Keywords=konsole;console;terminal;
