[Desktop Entry]
Type=Application
Exec=konsole --type su
Icon=konsole
X-DocPath=konsole/index.html
MimeType=application/x-konsole;
Terminal=false
OnlyShowIn=TDE;

Name=Konsole

GenericName=Terminal Program - Super User Mode

X-TDE-AuthorizeAction=shell_access
Categories=Qt;TDE;X-TDE-System-su;
