[Desktop Entry]
Type=Service
Icon=konsole
X-TDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View,inode/directory,TerminalEmulator

X-TDE-Library=libkonsolepart
X-TDE-BrowserView-AllowAsDefault=false
X-TDE-BrowserView-HideFromMenus=true
X-TDE-BrowserView-Toggable=true
X-TDE-BrowserView-ToggableView-Orientation=horizontal
X-TDE-BrowserView-FollowActive=true
X-TDE-AuthorizeAction=shell_access

Name=Terminal Emulator
