[Desktop Entry]
Type=Application
Exec=konsole
Icon=konsole
X-DocPath=konsole/index.html
Terminal=false
X-TDE-StartupNotify=true

Name=Konsole

GenericName=Terminal Program

X-DCOP-ServiceType=Multi
X-TDE-AuthorizeAction=shell_access
Categories=Qt;TDE;System;TerminalEmulator;
