[Desktop Entry]
Name=TDE Write Daemon

Comment=Watch for messages from local users sent with write(1) or wall(1)

Type=Service
X-TDE-ServiceTypes=KDEDModule
X-TDE-Library=kwrited
X-TDE-FactoryName=kwrited
X-TDE-Kded-autoload=true
X-TDE-Kded-load-on-demand=true
