[Desktop Entry]
X-TDE-ServiceTypes=inode/directory
Actions=openTerminalHere;
X-TDE-AuthorizeAction=shell_access
Type=Application
Name=Terminal

[Desktop Action openTerminalHere]
Icon=konsole
Exec=terminalhere --wd %f
Name=Open Terminal Here
