[Desktop Entry]
Type=Plugin
Name=System Tray

Comment=The system tray panel applet

Icon=systemtray
X-TDE-Library=systemtray_panelapplet
X-TDE-UniqueApplet=true
