[Desktop Entry]
Comment=Print Folder

Icon=folder_print
Type=MimeType
MimeType=print/folder
Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
