[Desktop Entry]
Comment=Print Management Tool

Icon=wizard
Type=MimeType
MimeType=print/manager
Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
