[Desktop Entry]
Exec=tdecmshell khotkeys
Icon=khotkeys
Type=Application
X-DocPath=kcontrol/khotkeys/index.html
X-TDE-ModuleType=Library
X-TDE-Library=khotkeys
X-TDE-Init-Library=khotkeys_init
X-TDE-Init=khotkeys
Categories=Qt;TDE;X-TDE-settings-accessibility;

Name=Input Actions

Comment=Configure Hotkey settings

Keywords=Keys;Global key bindings;Key bindings;Gestures;Mouse gestures;
