[Desktop Entry]
Type=Plugin
Name=Runaway Process Catcher

Comment=Detect and end broken processes which consume too much CPU time

Icon=runprocesscatcher
X-TDE-Library=naughty_panelapplet
X-TDE-UniqueApplet=true
