[Desktop Entry]
Exec=kjobviewer --all --noshow %i %m
Icon=kjobviewer
Terminal=false
Type=Application

Name=KJobViewer

GenericName=Print Jobs

X-DCOP-ServiceType=Unique
X-TDE-autostart-after=panel
X-TDE-autostart-condition=tdeprintrc:Jobs:KeepWindow:false
X-TDE-autostart-phase=1
X-TDE-StartupNotify=false
Categories=Qt;TDE;Utility;Printing;HardwareSettings;TrayIcon;
ShowOnlyIn=TDE;
