[Desktop Entry]
Exec=kjobviewer --all --show %i %m
Icon=kjobviewer
Terminal=false
Type=Application
X-TDE-StartupNotify=true

Name=KJobViewer

GenericName=Print Jobs

X-DCOP-ServiceType=Unique
Categories=Qt;TDE;Utility;X-TDE-Utilities-Peripherals;
X-DocPath=kjobviewer/index.html
