[Desktop Entry]
Type=Service
Name=About-Page for Konqueror
X-TDE-ServiceTypes=KonqAboutPage,KParts/ReadOnlyPart
X-TDE-Library=konq_aboutpage
X-TDE-BrowserView-HideFromMenus=true
X-TDE-BrowserView-Built-Into=konqueror
