[KCM Locale]
Name=Albania
Region=southeurope
Languages=sq,el
DecimalSymbol=,
ThousandsSeparator=.
CurrencySymbol=Lek
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=3
NegativeMonetarySignPosition=3
DateFormatShort=%Y-%m-%d
TimeFormat=%l.%M.%S.%p
WeekStartDay=7
#PageSize=
#MeasureSystem=
