[Desktop Entry]
Icon=kcmkwm
Type=Application
Exec=tdecmshell twinrules
X-DocPath=kcontrol/windowmanagement/index.html

X-TDE-ModuleType=Library
X-TDE-Library=twinrules
X-TDE-FactoryName=twinrules

Name=Window-Specific Settings

Comment=Configure settings specifically for a window

Keywords=size;position;state;window behavior;windows;specific;workarounds;remember;rules;

Categories=Qt;TDE;X-TDE-settings-desktop;
