[Desktop Entry]
Icon=www
Type=Application
Exec=tdecmshell kcmcgi
X-DocPath=kcontrol/kcmcgi/index.html
X-TDE-ModuleType=Library
X-TDE-Library=cgi

Name=CGI Scripts

Comment=Configure the CGI TDEIO slave

Keywords=CGI;TDEIO;Slave;Paths;

Categories=Qt;TDE;X-TDE-settings-webbrowsing;
