[KCM Locale]
Author=Denis Perchine <dyp@perchine.com>
Name=Russia
Region=easteurope
Languages=ru
DecimalSymbol=,
ThousandsSeparator=.
CurrencySymbol=руб.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=2
NegativeMonetarySignPosition=2
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
#WeekStartDay=
PageSize=0
MeasureSystem=0
