[Desktop Entry]
Type=Application
X-DocPath=kcontrol/icons/index.html
Icon=icons
Exec=tdecmshell icons


X-TDE-Library=icons
X-TDE-FactoryName=icons
X-TDE-ParentApp=kcontrol

Name=Icons

Comment=Customize TDE Icons

Keywords=icons;effects;size;hicolor;locolor;

Categories=Qt;TDE;X-TDE-settings-looknfeel;
