[Desktop Entry]
Type=KonsoleApplication
Name=Linux Console
Comment=New Linux Console
Exec=bash
Schema=Linux.schema
#VGA
#Font=6
Term=linux
KeyTab=linux
Cwd=
