[Desktop Entry]
Name=Non-TDE Application Launcher

Comment=A launcher for programs not in the TDE Menu

Icon=application-x-executable
X-TDE-Library=ExecButton
