[Desktop Entry]
Name=KAppfinder
GenericName=Menu Updating Tool
Type=Application
X-TDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Exec=kappfinder
Icon=kappfinder
Terminal=false
OnlyShowIn=TDE;
Categories=Qt;TDE;Settings;
