[Desktop Entry]
Icon=stylesheet
Type=Application
Exec=tdecmshell kcmcss
X-DocPath=kcontrol/kcmcss/index.html


X-TDE-Library=css
X-TDE-FactoryName=kcmcss
X-TDE-ParentApp=kcontrol

Name=Stylesheets

Comment=Configure the stylesheets used to render web pages

Keywords=CSS;HTML;style;stylesheet;accessibility;

Categories=Qt;TDE;X-TDE-settings-webbrowsing;
