[Desktop Entry]
Name=Alephone
Comment=An open source version of Marathon Infinity for SDL
Type=Application
Exec=alephone
Terminal=false
Icon=alephone
