[Desktop Entry]
Name=Alephone - No OpenGL
Comment=An open source version of Marathon Infinity for SDL that has Open GL disabled
Type=Application
Exec=alephone -g -m
Terminal=false
Icon=alephone
