[Desktop Entry]
Type=Service

Name=KDED Remote Base URL Notifier

Comment=Provides change notification for network folders

X-TDE-ServiceTypes=KDEDModule
X-TDE-ModuleType=Library
X-TDE-Library=remotedirnotify
X-TDE-FactoryName=remotedirnotify
X-TDE-Kded-load-on-demand=true
X-TDE-Kded-autoload=true
