[Desktop Entry]
Name=KNetAttach

GenericName=Network Folder Wizard

Exec=knetattach
X-TDE-InitialPreference=6
Icon=knetattach
Type=Application
Terminal=false
X-TDE-StartupNotify=true
Categories=Qt;TDE;Network;
X-DocPath=knetattach/index.html
