[Desktop Entry]
Icon=konsole
Type=Application
Exec=tdecmshell kcmkonsole
X-DocPath=kcontrol/kcmkonsole/index.html

X-TDE-Library=konsole
X-TDE-ParentApp=kcontrol

Name=Konsole

Comment=Konsole configuration module

Keywords=konsole;schema;konsole background;colors;background;terminal application;terminal;
