[Desktop Entry]
Type=Service
Icon=kfind

Name=Find Part
MimeType=
X-TDE-ServiceTypes=Konqueror/FindPart
X-TDE-Library=libkfindpart
X-TDE-BrowserView-AllowAsDefault=true
X-TDE-BrowserView-HideFromMenus=true
X-TDE-BrowserView-PassiveMode=true
X-TDE-InitialPreference=10
