[Desktop Entry]
Exec=kfind %f
Icon=kfind
X-DocPath=kfind/index.html
Path=
Type=Application
Terminal=false
Name=Find Files/Folders
X-TDE-StartupNotify=true
OnlyShowIn=TDE;
Categories=Qt;TDE;Core;
