[Desktop Entry]
Exec=kprinter
Icon=kjobviewer
Terminal=false
Type=Application
X-DocPath=tdeprint/index.html
X-TDE-StartupNotify=true

Name=KPrinter

GenericName=Printing Tool
