[Desktop Entry]
Exec=krandom.kss
Icon=tdescreensaver
Type=Application
Actions=Setup;InWindow;Root;
OnlyShowIn=TDE;

Name=Random

[Desktop Action Setup]
Exec=krandom.kss -setup
Name=Setup...
Icon=tdescreensaver

[Desktop Action InWindow]
Exec=krandom.kss -window-id %w
Name=Display in Specified Window
NoDisplay=true

[Desktop Action Root]
Exec=krandom.kss -root
Name=Display in Root Window
NoDisplay=true
