[Desktop Entry]
Name=KSysGuard

GenericName=Performance Monitor

Exec=ksysguard %U
Icon=ksysguard
Type=Application
MimeType=application/x-ksysguard;
X-DocPath=ksysguard/index.html
Terminal=false
Path=
X-TDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;TDE;System;
