[Desktop Entry]
Type=Plugin

Name=System Guard

Comment=An advanced system monitor which allows TDE system guard displays

Icon=ksysguard
X-TDE-Library=sysguard_panelapplet
X-TDE-UniqueApplet=true
