[Desktop Entry]
OnlyShowIn=TDE;
MimeType=application/x-ksysguard

Comment=TDE System Guard

Icon=ksysguard
Type=MimeType
Patterns=*.sgrd;
X-TDE-AutoEmbed=false
