[Desktop Entry]
Type=Application
Exec=tdecmshell tde-clock.desktop
Icon=date
X-DocPath=kcontrol/clock/index.html


X-TDE-Library=clock
X-TDE-RootOnly=true
X-TDE-SubstituteUID=true
X-TDE-ParentApp=kcontrol

Name=Date & Time

Comment=Date and time settings

Keywords=clock;date;time;time zone;

Categories=Qt;TDE;X-TDE-settings-system;
