[Desktop Entry]
Name=Dock Application Bar

Comment=Dock application bar extension.

Icon=dockbar
X-TDE-Library=dockbar_panelextension
X-TDE-UniqueApplet=true
