[KCM Locale]
Name=Turkey
Region=southeurope
Languages=tr
DecimalSymbol=,
ThousandsSeparator=.
CurrencySymbol=TL
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormatShort=%d-%m-%Y
TimeFormat=%H:%M:%S
