[Desktop Entry]
Name=X Editor
GenericName=Text Editor
Type=Application
MimeType=text/english;text/plain;
X-TDE-StartupNotify=true
Exec=xedit %f
Icon=xedit
Path=
Terminal=false
