[TDE Desktop Program]
Comment=XPlanet by Hari Nair
Executable=xplanet
Command=xplanet --geometry %xx%y --num_times 1 --output %f.jpg && mv %f.jpg %f
PreviewCommand=xplanet --geometry %xx%y --num_times 1 --output %f.jpg && mv %f.jpg %f
Refresh=10
