[Desktop Entry]
Type=Link
URL=applications:/
Icon=kmenu
Name=Applications
Open=false
X-TDE-TreeModule=Directory
X-TDE-KonqSidebarModule=konqsidebar_tree
