[Desktop Entry]
Type=Link
URL=audiocd:/
Icon=media-optical-cdaudio-unmounted

Name=Audio CD Browser

Open=false
X-TDE-TreeModule=Directory
X-TDE-KonqSidebarModule=konqsidebar_tree
