[Desktop Entry]
Type=Link
URL=media:/
Icon=computer
Name=Storage Media
Open=false
X-TDE-TreeModule=Directory
X-TDE-KonqSidebarModule=konqsidebar_tree
