[Desktop Entry]
Type=Link
URL=print:/
Icon=document-print

Name=Print System Browser

Open=false
X-TDE-TreeModule=Directory
X-TDE-KonqSidebarModule=konqsidebar_tree
