[Desktop Entry]
Exec=tdecmshell kcmtrash
Icon=trashcan_empty
Type=Application
#X-DocPath=kcontrol/kcmcgi/index.html

X-TDE-ModuleType=Library
X-TDE-Library=trash
Categories=Qt;TDE;X-TDE-settings-system;

Name=Trash
Name[cz]=Koš
Name[fr]=Corbeille
Name[it]=Cestino

Comment=Trash Properties
Comment[cz]=Vlastnosti koše
Comment[fr]=Propriétés de la Corbeille
Comment[it]=Proprietà del cestino

Keywords=trash;properties;size;limits;delete
Keywords[cz]=koš,vlastnosti,velikost,limity,odstranit
Keywords[fr]=corbeille;propriétés;taille;limites;supprimer
Keywords[it]=cestino;proprietà;dimensioni;limiti;cancella
