[Desktop Entry]
Exec=tdecmshell kcmtrash
Icon=trashcan_empty
Type=Application
#X-DocPath=kcontrol/kcmcgi/index.html

X-TDE-ModuleType=Library
X-TDE-Library=trash
Categories=Qt;TDE;X-TDE-settings-system;

Name=Trash

Comment=Trash Properties

Keywords=trash;properties;size;limits;delete
