[Desktop Entry]
Type=Service
Name=Trash Properties Page
Name[bg]=Свойства на кошчето
X-TDE-Library=ktrashpropsdlgplugin
X-TDE-ServiceTypes=KPropsDlg/Plugin,media/builtin-trash
