[Desktop Entry]
Type=Plugin
Name=Lock/Logout Buttons

Comment=Adds buttons for locking screen and session logout

Icon=system-log-out
X-TDE-Library=lockout_panelapplet
