[Desktop Entry]
Exec=tdecmshell colors
Icon=application-x-kcsrc
Type=Application
X-DocPath=kcontrol/colors/index.html


X-TDE-Library=colors
X-TDE-FactoryName=colors
X-TDE-ParentApp=kcontrol

Name=Colors

Comment=Color settings

Keywords=colors;colours;scheme;contrast;Widget colors;Color Scheme;

Categories=Qt;TDE;X-TDE-settings-looknfeel;
