[Desktop Entry]
Icon=encrypted
Type=Application
Exec=tdecmshell crypto
X-DocPath=kcontrol/crypto/index.html

X-TDE-Library=crypto
X-TDE-ParentApp=kcontrol

Name=Crypto

Comment=Configure SSL, manage certificates, and other cryptography settings

Keywords=Crypto;Krypto;Cryptography;encryption;SSL;https;certificates;ciphers;TLS;secure;security;

Categories=Qt;TDE;X-TDE-settings-security;
