[Desktop Entry]
Name=Panel

Comment=Child panel extension.

Icon=kicker
X-TDE-Library=childpanel_panelextension
X-TDE-PanelExt-Resizeable=true
X-TDE-PanelExt-StdSizes=true
X-TDE-PanelExt-CustomSizeMin=24
X-TDE-PanelExt-CustomSizeMax=300
X-TDE-PanelExt-CustomSizeDefault=58
