[Desktop Entry]
X-TDE-ServiceTypes=image/*
Actions=setAsBackground;tileAsBackground;
X-TDE-Submenu=Set as Background

[Desktop Action setAsBackground]
Name=Centered
Icon=background
Exec=dcop kdesktop KBackgroundIface setWallpaper %u 6

[Desktop Action tileAsBackground]
Name=Tiled
Icon=background
Exec=dcop kdesktop KBackgroundIface setWallpaper %u 2
