[Desktop Entry]
Name=BitTorrent Python wxGTK GUI
GenericName=BitTorrent GUI
Type=Application
MimeType=application/x-bittorrent
X-TDE-InitialPreference=2
X-TDE-ServiceTypes=
Exec=btdownloadgui.py
Icon=xapp
Terminal=false
