[Desktop Entry]
Name=Coolmail
GenericName=Mail Alert
Type=Application
SwallowExec=coolmail
SwallowTitle=coolmail
Exec=coolmail
Icon=email
Terminal=false
