[Desktop Entry]
Name=tdehwdevicetray

GenericName=Device Monitor
GenericName[cs]=Sledování zařízení
GenericName[de]=Geräteüberwachung
GenericName[es]=Monitor de dispositivos
GenericName[fr]=Moniteur de périphériques
GenericName[it]=Monitor dei dispositivi hardware
GenericName[ru]=Диспетчер устройств

Comment=Monitor hardware devices from the system tray
Comment[cs]=Sledování hardwarových zařízení ze systémového panelu
Comment[de]=Überwacht Hardware-Geräte aus dem Systembereich der Kontrollleiste heraus
Comment[es]=Observe dispositivos desde área de notificación
Comment[fr]=Surveille les périphériques matériels depuis la barre d’état système
Comment[it]=Monitora i dispositivi hardware dall’area di notifica di sistema
Comment[ru]=Отслеживание устройств в области уведомлений

Exec=tdehwdevicetray
Icon=hwinfo

X-TDE-autostart-after=panel
X-TDE-StartupNotify=false
X-TDE-UniqueApplet=true
X-TDE-autostart-condition=tdehwdevicetrayrc:General:Autostart:true
Categories=System;Applet;
