[Desktop Entry]
Exec=tdecmshell kcmfontinst
Icon=font-x-generic
Type=Application
X-DocPath=kcontrol/kcmfontinst/index.html


X-TDE-Library=fontinst
X-TDE-FactoryName=fontinst
X-TDE-RootOnly=true

X-TDE-ParentApp=kcontrol

Name=Font Installer

Comment=Install & preview fonts

Keywords=font;fonts;installer;truetype;type1;speedo;bitmap;

Categories=Qt;TDE;X-TDE-settings-system;
