[Desktop Entry]
Exec=tdecmshell screensaver
Icon=tdescreensaver
Type=Application
X-DocPath=kcontrol/screensaver/index.html


X-TDE-Library=screensaver
X-TDE-FactoryName=screensaver
X-TDE-ParentApp=kcontrol

Name=Screen Saver

Comment=Screen Saver Settings

Keywords=screensavers;Priority;

Categories=Qt;TDE;X-TDE-settings-looknfeel;
