[Desktop Entry]
Type=Link
URL=http://www.opendesktop.org/s/Trinity
Name=TDE Applications
Name[af]=TDE Programme
Name[ar]=تطبيقات TDE
Name[az]=TDE Proqramları
Name[be]=Праграмы TDE
Name[bg]=Програми за TDE
Name[bn]=কে.ডি.ই অ্যাপলিকেশন
Name[br]=Arloadoù TDE
Name[bs]=TDE Programi
Name[ca]=Aplicacions TDE
Name[cs]=TDE aplikace
Name[csb]=Programë TDE
Name[cy]=Cymhwysiadau TDE
Name[da]=TDE-programmer
Name[de]=TDE-Programme
Name[el]=Εφαρμογές TDE
Name[eo]=TDE-Aplikaĵoj
Name[es]=Aplicaciones de TDE
Name[et]=TDE rakendused
Name[eu]=TDEren aplikazioak
Name[fa]=کاربردهای TDE
Name[fi]=TDE:n sovellukset
Name[fr]=Applications TDE
Name[fy]=TDE Programma's
Name[ga]=Feidhmchláir TDE
Name[gl]=Aplicacións de TDE
Name[he]=יישומי TDE
Name[hi]=केडीई अनुप्रयोग
Name[hr]=TDE aplikacije
Name[hu]=TDE-alkalmazások
Name[is]=TDE Forrit
Name[it]=Applicazioni TDE
Name[ja]=TDE アプリケーション
Name[ka]=TDE-ს პროგრამები
Name[kk]=TDE қолданбалары
Name[km]=កម្មវិធី​របស់ TDE
Name[ko]=TDE 응용 프로그램
Name[lo]=ແອບພີເຄຊັ້ນ TDE
Name[lt]=TDE programos
Name[lv]=TDE Aplikācijas
Name[mk]=TDE-апликации
Name[mn]=КДЭ-Програм
Name[ms]=Aplikasi TDE
Name[mt]=Programmi TDE
Name[nb]=TDE-programmer
Name[nds]=TDE-Programmen
Name[ne]=TDE अनुप्रयोग
Name[nl]=TDE Programma's
Name[nn]=TDE-program
Name[nso]=Ditshomiso tsa TDE
Name[pa]=TDE ਕਾਰਜ
Name[pl]=Programy TDE
Name[pt]=Aplicações do TDE
Name[pt_BR]=Aplicativos TDE
Name[ro]=Aplicații TDE
Name[ru]=Приложения TDE
Name[rw]=Porogaramu TDE 
Name[se]=TDE-prográmmat
Name[sk]=Aplikácie TDE
Name[sl]=Uporabniški programi
Name[sr]=TDE програми
Name[sr@Latn]=TDE programi
Name[ss]=Ticelo te TDE 
Name[sv]=TDE-program
Name[ta]=TDE நிரல்கள்
Name[te]=కెడిఈ కార్యక్రమాలు
Name[tg]=Барномаҳои TDE
Name[th]=แอพพลิเคชัน TDE
Name[tr]=TDE Uygulamaları
Name[tt]=TDE Yazılımnarı
Name[uk]=Програми TDE
Name[uz]=TDE dasturlar
Name[uz@cyrillic]=TDE дастурлар
Name[ven]=Apulifikhesheni ya TDE
Name[vi]=Ứng dụng cho TDE
Name[wa]=Programes TDE
Name[xh]=Izicelo ze TDE
Name[zh_CN]=TDE 应用程序
Name[zh_TW]=TDE 應用程式
Name[zu]=Abayaleli be-TDE
Icon=www
Open=false
X-TDE-TreeModule=Directory
X-TDE-KonqSidebarModule=konqsidebar_tree
