[Desktop Entry]
Type=Link
URL=http://www.trinitydesktop.org/news.php
Name=TDE News
Icon=www
Open=false
X-TDE-TreeModule=Directory
X-TDE-KonqSidebarModule=konqsidebar_tree
