[Desktop Entry]
Type=Link
URL=http://www.trinitydesktop.org
Name=TDE Home Page
Icon=www
Open=false
X-TDE-TreeModule=Directory
X-TDE-KonqSidebarModule=konqsidebar_tree
