[Desktop Entry]
Type=Link
URL=http://www.trinitydesktop.org
Name=TDE Home Page
Name[af]=TDE Tuisblad
Name[ar]=موقع TDE على الشبكة
Name[az]=TDE Ana Səhifəsi
Name[be]=Хатняя старонка TDE
Name[bg]=Домашна страница на TDE
Name[bn]=কে.ডি.ই. হোম পেজ
Name[br]=Pajenn Er-Gêr TDE
Name[bs]=TDE web stranica
Name[ca]=Pàgina inici de TDE
Name[cs]=Domovská stránka TDE
Name[csb]=Domôcô starna TDE
Name[cy]=Hafan TDE
Name[da]=TDE-hjemmeside
Name[de]=TDE-Startseite
Name[el]=Ιστοσελίδα του TDE
Name[eo]=TTTejo de TDE
Name[es]=Página Web de TDE
Name[et]=TDE kodulehekülg
Name[eu]=TDEren hasierako orria
Name[fa]=صفحه آغازۀ TDE
Name[fi]=TDE:n kotisivu
Name[fr]=Page d'accueil de TDE
Name[fy]=TDE's Thússide
Name[ga]=Leathanach Baile TDE
Name[gl]=Páxina Web de TDE
Name[he]=אתר הבית של TDE
Name[hi]=केडीई मुख पृष्ठ
Name[hr]=TDE glavna stranica
Name[hu]=TDE honlap
Name[id]=Home Page TDE
Name[is]=Heimasíða TDE
Name[it]=Homepage di TDE
Name[ja]=TDE ホームページ
Name[ka]=TDE-ს ვებ გვერდი
Name[kk]=TDE веб-сайты
Name[km]=គេហទំព័រ TDE
Name[ko]=TDE 홈페이지
Name[lo]=ໂຫມເພຈ TDE
Name[lt]=TDE namų puslapis
Name[lv]=TDE Mājas Lapa
Name[mk]=Домашната страница на TDE
Name[mn]=КДЭ-Эхлэл хуудас
Name[ms]=Laman Utama TDE
Name[mt]=Homepage tal-TDE
Name[nb]=TDEs hjemmeside
Name[nds]=TDE-Nettsiet
Name[ne]=TDE गृह पृष्ठ
Name[nl]=TDE's startpagina
Name[nn]=TDE-nettstaden
Name[nso]=Letlakala la Gae la TDE
Name[oc]=Pagina iniciau de TDE
Name[pa]=TDE ਮੁੱਖ ਸਫਾ
Name[pl]=Strona domowa TDE
Name[pt]=Página do TDE
Name[pt_BR]=Página principal do TDE
Name[ro]=Site-ul TDE
Name[ru]=Основной сайт TDE
Name[rw]=TDE Ipajitwinjira 
Name[se]=TDE-ruoktosiidu
Name[sk]=Domovská stránka TDE
Name[sl]=Domača stran TDE
Name[sr]=Матична страна TDE-а
Name[sr@Latn]=Matična strana TDE-a
Name[sv]=TDE:s webbplats
Name[ta]=TDE வீட்டுப் பக்கம்
Name[te]=కెడిఈ ఇంటి పుట
Name[tg]=Сафҳаи хонагии TDE
Name[th]=โฮมเพจ TDE
Name[tr]=TDE Ana Sayfası
Name[tt]=TDE Anabite
Name[uk]=Домашня сторінка TDE
Name[uz]=TDE veb-sayti
Name[uz@cyrillic]=TDE веб-сайти
Name[ven]=Siatari la TDE
Name[vi]=Trang nhà của TDE
Name[wa]=Pådje måjhon di TDE
Name[xh]=Iphepha Lasekhaya le TDE
Name[zh_CN]=TDE 主页
Name[zh_TW]=TDE 首頁
Name[zu]=Ikhasi lasekhaya le-TDE
Icon=www
Open=false
X-TDE-TreeModule=Directory
X-TDE-KonqSidebarModule=konqsidebar_tree
