[Desktop Entry]
Icon=kcmkicker
Type=Application
X-DocPath=kicker/configuring.html#panel-appearance
Exec=tdecmshell kicker_appearance

X-TDE-Library=kicker
X-TDE-FactoryName=kicker_appearance
X-TDE-ParentApp=kicker

Name=Appearance

Comment=Configure the appearance of the panel

Keywords=kicker;panel;kpanel;taskbar;startbar;launchbar;location;size;auto hide;hide;buttons;animation;background;themes;menu cache;cache;hidden;TDE Menu;bookmarks;recent documents;quickbrowser;browser menu;menu;icons;tiles;applets;startup;highlight;handles;zooming icons;
