[Desktop Entry]
Icon=kcmkicker
Type=Application
X-DocPath=kicker/configuring.html
Exec=tdecmshell panel

X-TDE-Library=kicker
X-TDE-FactoryName=kicker
X-TDE-ParentApp=kicker

Name=Layout

Comment=Configure the arrangement of the panel

Keywords=kicker;panel;kpanel;taskbar;startbar;launchbar;location;size;auto hide;hide;buttons;animation;background;themes;menu cache;cache;hidden;TDE Menu;bookmarks;recent documents;quickbrowser;browser menu;menu;icons;tiles;applets;startup;highlight;handles;zooming icons;
