[Desktop Entry]
Icon=kcmkicker
Type=Application
X-DocPath=kicker/configuring.html#panel-arrangement
Exec=tdecmshell kicker_arrangement

X-TDE-Library=kicker
X-TDE-FactoryName=kicker_arrangement
X-TDE-ParentApp=kicker

Name=Arrangement

Comment=Configure the arrangement of the panel

Keywords=kicker;panel;kpanel;taskbar;startbar;launchbar;location;size;auto hide;hide;buttons;animation;background;themes;menu cache;cache;hidden;TDE Menu;bookmarks;recent documents;quickbrowser;browser menu;menu;icons;tiles;applets;startup;highlight;handles;zooming icons;
