[Desktop Entry]
Icon=kcmkicker
Type=Application
X-DocPath=kicker/configuring.html
Exec=tdecmshell panel

X-TDE-Library=kicker
X-TDE-ParentApp=kcontrol

Name=Panels

Comment=Configure the arrangement of the panels

Keywords=kicker;panel;kpanel;taskbar;startbar;launchbar;location;size;auto hide;hide;buttons;animation;background;themes;menu cache;cache;hidden;TDE Menu;bookmarks;recent documents;quickbrowser;browser menu;menu;icons;tiles;applets;startup;highlight;handles;zooming icons;

Categories=Qt;TDE;X-TDE-settings-desktop;
