[Desktop Entry]
Type=Service
Name=Info List View
MimeType=inode/directory
X-TDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-TDE-Library=konq_listview
X-TDE-BrowserView-Args=InfoListView
X-TDE-BrowserView-HideFromMenus=true
Icon=view_detailed
X-TDE-InitialPreference=7
