[Desktop Entry]
Type=Service
Name=Text View
MimeType=inode/directory
X-TDE-ServiceTypes=Browser/View
X-TDE-Library=konq_listview
X-TDE-BrowserView-Args=TextView
X-TDE-BrowserView-HideFromMenus=true
Icon=view_text
X-TDE-InitialPreference=6
