[Desktop Entry]
Type=Service
Name=Tree View
MimeType=inode/directory
X-TDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-TDE-Library=konq_listview
X-TDE-BrowserView-Args=MixedTree
X-TDE-BrowserView-HideFromMenus=true
X-TDE-BrowserView-HierarchicalView=true
Icon=view_tree
X-TDE-InitialPreference=11
