[Desktop Entry]
Type=Service
Name=KSplashRedmond
Comment=KSplash Plugin
X-TDE-ServiceTypes=KSplash/Plugin
X-TDE-Library=ksplashredmond
X-KSplash-Default=true
X-KSplash-PluginName=Redmond
X-KSplash-ObjectName=ThemeRedmond
