[Desktop Entry]
Name=Kate Session Menu

Comment=Allows you to open Kate with a specified session, or create a new one

Icon=kate
X-TDE-Library=kickermenu_kate
