[Desktop Entry]
Type=Service

Name=KDED System Base URL Notifier

Comment=Provides change notification for folders monitored by the system:/ tdeio plugin

X-TDE-ServiceTypes=KDEDModule
X-TDE-ModuleType=Library
X-TDE-Library=systemdirnotify
X-TDE-FactoryName=systemdirnotify
X-TDE-Kded-load-on-demand=true
X-TDE-Kded-autoload=true
