[Desktop Entry]
Exec=tdecmshell keyboard_layout
Icon=input-keyboard
Type=Application
X-DocPath=kxkb/index.html

X-TDE-ModuleType=Library
X-TDE-Library=keyboard
X-TDE-FactoryName=keyboard_layout
X-TDE-ParentApp=kcontrol

Name=Keyboard Layout

Comment=Keyboard Layout

Keywords=Keyboard;Layout;International;

Categories=Qt;TDE;X-TDE-settings-accessibility;
