[Desktop Entry]
Exec=tdecmshell keyboard
Icon=input-keyboard
Type=Application
X-DocPath=kcontrol/keyboard/index.html

X-TDE-ModuleType=Library
X-TDE-Library=keyboard
X-TDE-FactoryName=keyboard
X-TDE-Init=keyboard

Name=Keyboard

Comment=Keyboard settings

Keywords=Keyboard;Keyboard repeat;Click volume;Input Devices;repeat;volume;

Categories=Qt;TDE;X-TDE-settings-hardware;
