[Desktop Entry]
Exec=tdecmshell joystick
Terminal=false
Type=Application
X-TDE-FactoryName=kcm_joystick
X-TDE-Library=joystick
X-TDE-Test-Module=true
Icon=input-joystick
X-DocPath=kcontrol/joystick/index.html
Categories=Qt;TDE;X-TDE-settings-hardware;

Name=Joystick

Comment=Joystick - a kcontrol module to test Joysticks

Keywords=joystick;gamepad;
