[Desktop Entry]
Exec=khelpcenter
Icon=khelpcenter
X-DocPath=khelpcenter/index.html
Type=Application
Terminal=false
Categories=Qt;TDE;Core;
OnlyShowIn=TDE;

Name=Help
