[Desktop Entry]
Type=Application
Exec=tdecmshell kcmhelpcenter
Icon=help

X-TDE-SubstituteUID=true
X-TDE-ModuleType=Library
X-TDE-Library=helpcenter
X-TDE-RootOnly=true
X-TDE-HasReadOnlyMode=true
X-TDE-ParentApp=kcontrol

Name=Help Index

Comment=Help center search index configuration and generation

Keywords=khelpcenter;help;index;search;

Categories=Qt;TDE;X-TDE-settings-system;
