[Desktop Entry]
Icon=khelpcenter
X-DocPath=khelpcenter/index.html
Type=Service
Terminal=false
Exec=khelpcenter %u
SwallowExec=
SwallowTitle=
X-TDE-StartupNotify=true

Name=KHelpCenter

Comment=The Trinity Help Center
