[Desktop Entry]
Exec=tdecmshell printers
Icon=printmgr
Type=Application
X-DocPath=tdeprint/index.html

X-TDE-ModuleType=Library
X-TDE-Library=printmgr
X-TDE-RootOnly=true
X-TDE-HasReadOnlyMode=true

Name=Printers

Comment=Printing system configuration (printers, jobs, classes, ...)

Keywords=print;printer;printing management;

Categories=Qt;TDE;X-TDE-settings-hardware;Settings;
