[Desktop Entry]
Icon=ieee1394
Type=Application
X-DocPath=kcontrol/view1394/index.html
Exec=tdecmshell kcmview1394

X-TDE-Library=view1394
X-TDE-ParentApp=kcontrol

Name=IEEE 1394 Devices

Comment=View the IEEE 1394 devices attached to this computer

Keywords=1394;Firewire;devices;viewer;control;

Categories=Qt;TDE;X-TDE-settings-information;
