[Desktop Entry]
X-TDE-ServiceTypes=media/removable_unmounted_encrypted,media/hdd_unmounted_encrypted,media/bluray_unmounted_encrypted,media/cdrom_unmounted_encrypted,media/cdwriter_unmounted_encrypted,media/dvd_unmounted_encrypted
Actions=Decrypt

[Desktop Action Decrypt]
Name=Decrypt

Exec=tdeio_media_mounthelper -d %u
Icon=decrypted
