[Desktop Entry]
X-TDE-ServiceTypes=media/bluray_mounted,media/bluray_unmounted,media/bluray_mounted_decrypted,media/bluray_unmounted_decrypted,media/bluray_unmounted_encrypted,media/cdrom_mounted,media/cdrom_unmounted,media/cdrom_mounted_decrypted,media/cdrom_unmounted_decrypted,media/cdrom_unmounted_encrypted,media/cd-r_mounted,media/cd-r_unmounted,media/cd-r_mounted_decrypted,media/cd-r_unmounted_decrypted,media/cd-r_unmounted_encrypted,media/cd-rw_mounted,media/cd-rw_unmounted,media/cd-rw_mounted_decrypted,media/cd-rw_unmounted_decrypted,media/cd-rw_unmounted_encrypted,media/dvd_mounted,media/dvd_unmounted,media/dvd_mounted_decrypted,media/dvd_unmounted_decrypted,media/dvd_unmounted_encrypted,media/audiocd,media/blankbluray,media/blankcd,media/blankdvd,media/blurayvideo,media/dvdvideo,media/svcd,media/vcd
Actions=MediaEject;
X-TDE-Priority=TopLevel
X-TDE-MediaNotifierHide=true

[Desktop Action MediaEject]
Name=Eject

Exec=tdeio_media_mounthelper -e %u
