[Desktop Entry]
X-TDE-ServiceTypes=media/removable_encrypted_locked,media/hdd_encrypted_locked,media/cdrom_encrypted_locked,media/cd-rw_encrypted_locked,media/dvd_encrypted_locked
Actions=MediaUnlock;
X-TDE-Priority=TopLevel
X-TDE-MediaNotifierHide=true

[Desktop Action MediaUnlock]
Exec=tdeio_media_mounthelper -k %u
Icon=decrypted
Name=Unlock
