[Desktop Entry]
Icon=preferences-desktop-personal
Categories=Qt;TDE;X-TDE-settings-security;
X-TDE-ParentApp=kcontrol
X-TDE-Library=useraccount
Type=Application
Exec=tdecmshell kcm_useraccount
X-DocPath=kcontrol/useraccount/index.html

Name=Password & User Account

Comment=User information such as password, name and email

Keywords=password;email;name;organization;realname;login image;face;echo mode;
