[Desktop Entry]
Exec=tdecmshell background
Icon=background
Type=Application
X-DocPath=kcontrol/background/index.html


X-TDE-Library=background
X-TDE-FactoryName=background
X-TDE-ParentApp=kcontrol

Name=Background

Comment=Change the background settings

Keywords=background;desktops;colors;colours;images;wallpapers;blending;balance;cache;multiple wallpapers;pixmap;

Categories=Qt;TDE;X-TDE-settings-looknfeel;
