[Desktop Entry]
Type=ServiceType
X-TDE-ServiceType=Kate/Plugin
X-TDE-Derived=
Comment=Kate Plugin

[PropertyDef::X-Kate-Version]
Type=TQString

[PropertyDef::X-Kate-PluginName]
Type=TQString
