[Desktop Entry]
GenericName=Advanced Text Editor
Name=Kate
MimeType=text/plain;
Exec=kate --use %U
X-TDE-StartupNotify=true
X-TDE-HasTempFileOption=true
Icon=kate
Path=
X-DocPath=kate/index.html
Type=Application
Terminal=false
X-TDE-InitialPreference=8
X-DCOP-ServiceType=Multi
Categories=Qt;TDE;TextEditor;
