[Desktop Entry]
GenericName=Text Editor
Name=KWrite
MimeType=text/plain;
Exec=kwrite %U
X-TDE-StartupNotify=true
Icon=kwrite
Path=
X-DocPath=kwrite/index.html
Type=Application
Terminal=false
X-TDE-InitialPreference=8
X-DCOP-ServiceType=Multi
Categories=Qt;TDE;TextEditor;
