[Desktop Entry]
Type=Application
X-DocPath=kcontrol/media/index.html
Icon=computer
Exec=tdecmshell media
X-TDE-Library=media
X-TDE-FactoryName=media
X-TDE-ParentApp=kcontrol

Name=Storage Media

Comment=Configure Storage Media

Keywords=storage;media;usb;cdrom;device;

Categories=Qt;TDE;X-TDE-settings-peripherals;
