[Desktop Entry]
Name=Acrobat Reader
GenericName=PDF Viewer
Type=Application
MimeType=application/pdf;
X-TDE-StartupNotify=false
Exec=acroread %f
X-DocPath=
Terminal=false
Icon=acroread
Caption=PDF Viewer
