[Desktop Entry]
Name=Applix
GenericName=Office Suite
Type=Application
MimeType=
X-TDE-StartupNotify=false
Exec=applix
Icon=application-x-applix-wordware
Path=
X-DocPath=
Terminal=false
