[Desktop Entry]
Name=GnuCash
GenericName=Finance Manager
Type=Application
X-TDE-StartupNotify=false
Exec=gnucash
X-DocPath=
Terminal=false
Icon=gnucash
