[Desktop Entry]
Name=MrProject
GenericName=Project Manager
Type=Application
X-TDE-StartupNotify=false
Exec=mrproject
X-DocPath=
Terminal=false
Icon=planner
