[Desktop Entry]
Name=Plan
GenericName=Calendar Manager
Type=Application
MimeType=
X-TDE-StartupNotify=false
Exec=plan
Icon=plan
Path=
X-DocPath=
Terminal=false
