[Desktop Entry]
Name=Pybliographic
GenericName=Bibliographic Database
Type=Application
MimeType=text/x-bibtex
X-TDE-InitialPreference=2
X-TDE-ServiceTypes=
Exec=pybliographic
Icon=pybliographic
Path=
Terminal=false
