[Desktop Entry]
Name=WordPerfect 2000
GenericName=Word Processor
Type=Application
MimeType=application/wordperfect;application/msword;application/x-winword97;
X-TDE-StartupNotify=false
Exec=wordperfect
Icon=wp
Path=
X-DocPath=
Terminal=false
