[Desktop Entry]
Name=WordPerfect
GenericName=Word Processor
Type=Application
MimeType=application/wordperfect;
X-TDE-StartupNotify=false
Exec=xwp
Icon=wp
Path=
X-DocPath=
Terminal=false
