[Desktop Entry]
Name=xacc
GenericName=Personal Accounting Tool
Type=Application
MimeType=
X-TDE-StartupNotify=false
Exec=xacc
Icon=xapp
Path=
X-DocPath=
Terminal=false
