[Desktop Entry]
Name=X PDF
GenericName=PDF Viewer
Type=Application
MimeType=application/pdf
X-TDE-StartupNotify=false
Exec=xpdf
Icon=gv
Path=
Terminal=false
