[Desktop Entry]
Name=XsLite
GenericName=Spread Sheet
Type=Application
MimeType=
X-TDE-StartupNotify=false
Exec=xslite
Icon=xapp
Path=
X-DocPath=
Terminal=false
