[Desktop Entry]
Name=KMenuEdit

GenericName=Menu Editor

Exec=kmenuedit
Icon=kmenuedit
X-DocPath=kmenuedit/index.html
Type=Application
X-TDE-StartupNotify=true
OnlyShowIn=TDE;
X-DCOP-ServiceType=Unique
Categories=Qt;TDE;Settings;
