[Desktop Entry]
Exec=tdecmshell fonts
Icon=font-x-generic
Type=Application
X-DocPath=kcontrol/fonts/index.html


X-TDE-Library=fonts
X-TDE-FactoryName=fonts
X-TDE-ParentApp=kcontrol

Name=Fonts

Comment=Font settings

Keywords=fonts;font size;styles;charsets;character sets;panel;kicker;control panel;desktops;FileManager;Toolbars;Menu;Window Title;Title;

Categories=Qt;TDE;X-TDE-settings-looknfeel;
