[Desktop Entry]
Name=AlsaMixerGui
GenericName=Alsa Mixer Frontend
Type=Application
Exec=alsamixergui
Icon=mixer
StartupNotify=false
Categories=AudioVideo;
