[Desktop Entry]
Name=Aviplay
GenericName=AVI Video Player
Type=Application
MimeType=application/vnd.ms-asf;video/mpeg;video/quicktime;video/x-flic;video/x-msvideo
X-TDE-ServiceTypes=
Exec=aviplay %f
Icon=video-x-generic
