[Desktop Entry]
Name=MPlayer
GenericName=Video Player
Type=Application
MimeType=application/vnd.ms-asf;video/mpeg;video/quicktime;video/x-flic;video/x-msvideo
X-TDE-ServiceTypes=
X-TDE-Protocols=http
Exec=gmplayer %U
Icon=video-x-generic
