[Desktop Entry]
Name=Ogle
GenericName=DVD Player
Type=Application
MimeType=inode/chardevice;inode/directory
X-TDE-ServiceTypes=
X-TDE-SubstituteUID=false
X-TDE-Username=
Exec=ogle %f
Icon=video-x-generic
