[Desktop Entry]
Name=OQTPlayer
GenericName=MOV Video Player
Type=Application
MimeType=video/quicktime
X-TDE-ServiceTypes=
X-TDE-SubstituteUID=false
X-TDE-Username=
Exec=oqtplayer %f
Icon=video-x-generic
