[Desktop Entry]
Name=RealPlayer
GenericName=Video Player
Type=Application
MimeType=audio/x-pn-realaudio;audio/vnd.rn-realaudio;application/vnd.rn-realmedia.desktop;video/vnd.rn-realvideo
X-TDE-StartupNotify=false
X-TDE-Protocols=http
Exec=realplay %u
Icon=realplayer
Path=
SwallowExec=
SwallowTitle=
Terminal=false
