[Desktop Entry]
Name=Enqueue in XMMS
GenericName=Playlist Tool
Type=Application
MimeType=audio/x-mp3;audio/x-mod;audio/x-flac;audio/x-wav;audio/x-mpegurl;audio/x-scpls;audio/vorbis
X-TDE-StartupNotify=false
Exec=xmms -e %F
Icon=xmms
Path=
Terminal=false
NoDisplay=true
