[Desktop Entry]
Name=XMMS
GenericName=Multimedia Player
Type=Application
MimeType=audio/x-mp3;audio/x-mod;audio/x-wav;audio/x-flac;audio/x-mpegurl;audio/x-scpls;audio/vorbis
X-TDE-StartupNotify=false
X-TDE-Protocols=http
X-DCOP-ServiceType=None
Exec=xmms %U
Icon=xmms
Path=
SwallowExec=
SwallowTitle=
Terminal=false
