[Desktop Entry]
Name=XMovie
GenericName=Video Player
Type=Application
MimeType=video/x-msvideo;video/quicktime;video/x-flic;video/mpeg;video/x-mpeg;
X-TDE-InitialPreference=10
Exec=xmovie
Terminal=false
Icon=xmovie
