[Desktop Entry]
Icon=kcmkicker
Type=Application
Exec=tdecmshell %i kicker_config kcmtaskbar
X-TDE-StartupNotify=true
X-DocPath=kicker/configuring.html
OnlyShowIn=TDE;
Categories=Qt;TDE;Settings;

Name=Configure the Panel
