[Desktop Entry]
Exec=kicker
X-DCOP-ServiceType=wait
X-TDE-autostart-after=kdesktop
X-DocPath=kicker/index.html
Type=Service
OnlyShowIn=TDE;
X-TDE-autostart-phase=0

Name=Trinity Panel
