[Desktop Entry]
Type=Service
Name=AllTheWeb fast
X-TDE-ServiceTypes=SearchProvider
Keys=atw,alltheweb
Query=http://www.alltheweb.com/search?exec=FAST+Search&type=all&query=\\{@}&cat=web
