[Desktop Entry]
Hidden=false
Keys=amg
Name=All Music Guide
Query=https://www.allmusic.com/search/all/\\{@}
X-TDE-ServiceTypes=SearchProvider
Type=Service
Category=Music