[Desktop Entry]
Keys=bug,bugno,bugnr
Name=TDE Bug Database Bug Number Search
Query=http://bugs.trinitydesktop.org/show_bug.cgi?id=\\{@}
X-TDE-ServiceTypes=SearchProvider
Type=Service
