[Desktop Entry]
Type=Service
Name=ChatGPT
X-TDE-ServiceTypes=SearchProvider
Keys=chatgpt,cgpt
Query=https://chat.openai.com/?prompt=\\{@}
Category=Web