[Desktop Entry]
Keys=citeseer,cs
Name=CiteSeer: Scientific Literature Digital Library
Query=https://citeseer.ist.psu.edu/search_result?query=\\{@}&pdf=true
X-TDE-ServiceTypes=SearchProvider
Type=Service
Category=Academic