[Desktop Entry]
Keys=cpan
Name=CPAN - Comprehensive Perl Archive Network
Query=https://metacpan.org/search?size=20&q=\\{@}
X-TDE-ServiceTypes=SearchProvider
Type=Service
Category=Development