[Desktop Entry]
Keys=ctan
Name=CTAN - Comprehensive TeX Archive Network
Query=http://tug.ctan.org/cgi-bin/filenameSearch.py?action=/search/&filename=\\{ at }
X-TDE-ServiceTypes=SearchProvider
Type=Service
