[Desktop Entry]
Keys=dbug
Name=Debian BTS Bug Search
Query=http://bugs.debian.org/\\{@}
X-TDE-ServiceTypes=SearchProvider
Type=Service
Category=Development