[Desktop Entry]
Keys=deb,debianpkg
Name=Debian Package Search
Query=http://packages.debian.org/\\{@}
X-TDE-ServiceTypes=SearchProvider
Type=Service
Category=Software