[Desktop Entry]
Keys=doi
Name=Digital Object Identifier
Query=http://dx.doi.org/\\{@}
X-TDE-ServiceTypes=SearchProvider
Type=Service
Category=Academic