[Desktop Entry]
Keys=en2de
Name=dict.cc Translation: English to German
Query=http://www.dict.cc/?s=\\{@}
X-TDE-ServiceTypes=SearchProvider
Type=Service
Category=Dictionaries