[Desktop Entry]
Keys=en2fr
Name=WordReference.com Translation: English to French
Query=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
X-TDE-ServiceTypes=SearchProvider
Type=Service
Category=Dictionaries