[Desktop Entry]
Type=Service
Name=Free On-Line Dictionary of Computing
X-TDE-ServiceTypes=SearchProvider
Keys=foldoc
Query=https://foldoc.org/\\{@}
Category=Dictionaries