[Desktop Entry]
Type=Service
Name=HyperDictionary.com
X-TDE-ServiceTypes=SearchProvider
Keys=hd,hyperdict
Query=https://hyperdictionary.com/dictionary/\\{@}
Category=Dictionaries