[Desktop Entry]
Type=Service
Name=Internet Movie Database (IMDb)
X-TDE-ServiceTypes=SearchProvider
Keys=imdb
Query=https://www.imdb.com/find/?q=\\{@}
Category=Movies