[Desktop Entry]
Type=Service
Name=LEO-Translate
X-TDE-ServiceTypes=SearchProvider
Keys=leo
Query=http://dict.leo.org/?search=\\{@}
Category=Dictionaries