[Desktop Entry]
Type=Service
Name=MetaCrawler
X-TDE-ServiceTypes=SearchProvider
Keys=mc,metacrawler
Query=https://search.metacrawler.com/serp?q=\\{@}
Category=Web