[Desktop Entry]
Type=Service
Name=Microsoft Learn (MSDN)
X-TDE-ServiceTypes=SearchProvider
Keys=msdn
Query=https://learn.microsoft.com/search/?terms=\\{@}
Category=Development