[Desktop Entry]
Type=Service
Name=Merriam-Webster Thesaurus
X-TDE-ServiceTypes=SearchProvider
Keys=mwt,mwthesaurus
Query=https://www.merriam-webster.com/thesaurus/\\{@}
Category=Dictionaries
