[Desktop Entry]
Keys=pgp,pgpkeys
Name=OpenPGP Key Search
Query=https://keys.openpgp.org/search?q=\\{@}
X-TDE-ServiceTypes=SearchProvider
Type=Service
Category=Software
