[Desktop Entry]
Keys=php
Name=PHP Search
Query=http://www.php.net/search.php?show=\\{mode,"manual"}&pattern=\\{@}
X-TDE-ServiceTypes=SearchProvider
Type=Service
