[Desktop Entry]
Keys=qt4
Name=Qt 4.8 Online Documentation
Query=https://doc.qt.io/archives/qt-4.8/\\{@}.html
X-TDE-ServiceTypes=SearchProvider
Type=Service
Category=Development