[Desktop Entry]
Keys=rae
Name=Dictionary of the Spanish Academy (RAE)
Query=https://dle.rae.es/\\{@}
X-TDE-ServiceTypes=SearchProvider
Type=Service
Category=Dictionaries