[Desktop Entry]
Keys=sf,sourceforge
Name=SourceForge
Query=https://sourceforge.net/directory/?q=\\{@}
X-TDE-ServiceTypes=SearchProvider
Type=Service
Category=Software