[Desktop Entry]
Type=Service
Name=Wikipedia (Italian) - The Free Encyclopedia
X-TDE-ServiceTypes=SearchProvider
Keys=wit,wpit
Query=http://it.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Charset=utf8
Category=Web
