[Desktop Entry]
Type=Service
Name=Wikipedia (German) - The Free Encyclopedia
X-TDE-ServiceTypes=SearchProvider
Keys=wde,wpde
Query=http://de.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Charset=utf8
Category=Web
