[Desktop Entry]
Type=Service
Name=Wiktionary (English) - The Free Dictionary
X-TDE-ServiceTypes=SearchProvider
Keys=wt,wikt,wten,wikten
Query=http://en.wiktionary.org/wiki/Special:Search?search=\\{@}&go=Go
Charset=utf8
Category=Dictionaries
