[Desktop Entry]
Type=Service
Name=Wiktionary (Italian) - The Free Dictionary
X-TDE-ServiceTypes=SearchProvider
Keys=wtit,wiktit
Query=http://it.wiktionary.org/wiki/Special:Search?search=\\{@}&go=Go
Charset=utf8
Category=Dictionaries