[Desktop Entry]
Keys=wr,wordref
Name=WordReference.com English Dictionary
Query=https://www.wordreference.com/definition/\\{@}
X-TDE-ServiceTypes=SearchProvider
Type=Service
Category=Dictionaries