[KCM Locale]
Name=Australia
Region=oceania
Languages=en_GB,en
DecimalSymbol=.
ThousandsSeparator=,
CurrencySymbol=A$
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=
#PositiveMonetarySignPosition=
#NegativeMonetarySignPosition=
DateFormatShort=%d/%m/%y
#WeekStartDay=
#PageSize=
#MeasureSystem=
AddressFormat=%0(%n\n)%0(%cm\n)%0(%s\n)%0(PO BOX %p\n)%0(%L%w%w%R%w%w)%z
AddressCountryPosition=BELOW
